<!-- MODAL START -->
<h2 mat-dialog-title class="text-info">
  <mat-icon [inline]="true">create</mat-icon>
  Detalles de Tarifa SHUTTLE
</h2>
<mat-dialog-content>
  <div class="row" *ngIf="loaders.loadingSubmit || loaders.loadingData">
    <div class="col text-center">
      <img
        src="../../../../../assets/img/loading.svg"
        width="35%"
        alt="loading"
      />
      <p>Cargando información...</p>
    </div>
  </div>

  <form
    [formGroup]="shuttleForm"
    *ngIf="!loaders.loadingSubmit && !loaders.loadingData"
  >
    <div class="form-row mt-3">
      <mat-form-field appearance="outline" floatLabel="always" class="col-md">
        <mat-label>Ruta a asignar:</mat-label>
        <mat-select
          formControlName="idRuta"
          required
          placeholder="-Seleccione una opción-"
        >
          <mat-option *ngFor="let route of routes" [value]="route.idRuta">
            {{ route.nomRuta }}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>location_on</mat-icon>
        <mat-error>*Este campo es obligatorio</mat-error>
      </mat-form-field>
    </div>
  </form>

  <h4 *ngIf="!loaders.loadingSubmit && !loaders.loadingData">
    Administrar Horarios de la Tarifa
  </h4>
  <hr *ngIf="!loaders.loadingSubmit && !loaders.loadingData" />

  <div
    class="form-row"
    *ngIf="
      assignedSchedules.length > 0 &&
      !loaders.loadingSubmit &&
      !loaders.loadingData
    "
  >
    <div class="col">
      <h4>Horarios asignados</h4>
      <div class="table-responsive">
        <table class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Descripción Horario</th>
              <th scope="col">Día</th>
              <th scope="col">Hora Inicial</th>
              <th scope="col">Hora Final</th>
              <th scope="col">Límite de envíos</th>
              <th scope="col" data-priority="1">Acción</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let schedule of assignedSchedules; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ schedule.descHorario }}</td>
              <td>{{ schedule.dia }}</td>
              <td>{{ schedule.inicio }}</td>
              <td>{{ schedule.final }}</td>
              <td>{{ schedule.limite || "N/A" }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger"
                  (click)="removeScheduleFromRate(schedule)"
                >
                  <i class="fa fa-trash-alt"></i>
                  Quitar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <h4 *ngIf="!loaders.loadingSubmit && !loaders.loadingData">
    Asignar Nuevo Horario a la Tarifa
  </h4>
  <hr *ngIf="!loaders.loadingSubmit && !loaders.loadingData" />

  <form
    [formGroup]="schdeduleForm"
    *ngIf="!loaders.loadingSubmit && !loaders.loadingData"
  >
    <div class="form-row mt-3">
      <mat-form-field appearance="outline" floatLabel="always" class="col-md">
        <mat-label>Descripción de horario:</mat-label>
        <input
          matInput
          type="text"
          formControlName="descHorario"
          maxlength="60"
          required
          placeholder="Descripción del horario"
        />
        <mat-icon matSuffix>subtitles</mat-icon>
        <mat-error *ngIf="schForm.descHorario?.errors?.required"
          >*Este campo es obligatorio</mat-error
        >
        <mat-error *ngIf="schForm.descHorario?.errors?.maxlength"
          >*Este campo es obligatorio</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="col-md">
        <mat-label>Día:</mat-label>
        <mat-select
          #day
          formControlName="cod"
          required
          (valueChange)="setDay(day.value)"
        >
          <mat-option [value]="0">Domingo</mat-option>
          <mat-option [value]="1">Lunes</mat-option>
          <mat-option [value]="2">Martes</mat-option>
          <mat-option [value]="3">Miércoles</mat-option>
          <mat-option [value]="4">Jueves</mat-option>
          <mat-option [value]="5">Viernes</mat-option>
          <mat-option [value]="6">Sábado</mat-option>
        </mat-select>
        <mat-icon matSuffix>subtitles</mat-icon>
        <mat-error>*Este campo es obligatorio</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" floatLabel="always" class="col-md">
        <mat-label>Hora Inicial:</mat-label>
        <input formControlName="inicio" type="time" required matInput />
        <mat-error> *Este campo es obligatorio </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="col-md">
        <mat-label>Hora Final:</mat-label>
        <input formControlName="final" type="time" required matInput />
        <mat-error> *Este campo es obligatorio </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" floatLabel="always" class="col-md">
        <mat-label>Límite de envíos:</mat-label>
        <input formControlName="limite" type="number" required matInput />
        <mat-error> *Este campo es obligatorio </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <button
        class="col-md-2"
        mat-raised-button
        color="primary"
        (click)="addScheduleToRate(schdeduleForm.value)"
        [disabled]="schdeduleForm.invalid || loaders.loadingSubmit"
      >
        Agregar
      </button>
    </div>
  </form>
  <br />
  <div
    class="form-row"
    *ngIf="
      rateSchedules.length > 0 && !loaders.loadingSubmit && !loaders.loadingData
    "
  >
    <div class="col">
      <h4>Horarios a asignar</h4>
      <hr />
      <div class="table-responsive">
        <table id="dTable1" class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Descripción Horario</th>
              <th scope="col">Día</th>
              <th scope="col">Hora Inicial</th>
              <th scope="col">Hora Final</th>
              <th scope="col" data-priority="1">Acción</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let schedule of rateSchedules; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ schedule.descHorario }}</td>
              <td>{{ schedule.dia }}</td>
              <td>{{ schedule.inicio }}</td>
              <td>{{ schedule.final }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger"
                  (click)="removeSchdeuleFromArray(schedule)"
                >
                  <i class="fa fa-trash-alt"></i>
                  Quitar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    type="button"
    [disabled]="
      shuttleForm.invalid || loaders.loadingSubmit || loaders.loadingData
    "
    (click)="onFormSubmit()"
    mat-raised-button
    color="primary"
  >
    Confimar
  </button>

  <button type="button" mat-raised-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>

<!-- MODAL END -->
