<!-- CARD START -->
<div @fade class="card shadow">
  <div class="card-header">
    <a [routerLink]="['/']"> <i class="fa fa-arrow-circle-left m-r-xs"></i></a>
    <h3 class="d-inline">Clientes</h3>
  </div>
  <!-- CARD BODY START -->
  <div class="card-body p-0">
    <div class="row" *ngIf="loaders.loadingData">
      <div class="col text-center">
        <img src="/GestionesDelivery/assets/img/loading.svg" width="5%" alt="loading">
        <p>Cargando información...</p>
      </div>
    </div>
    <!-- DATATABLE START -->
    <!-- CONTAINER START -->
    <div class="ibox">
      <div class="ibox-title ">
        <h5>Listado de Clientes</h5>
      </div>
      <!-- CONTAINER BODY START -->
      <div class="ibox-content">
        <div class="table-responsive">
          <table id="dTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                 class="display" style="width:100%">
            <thead>
            <tr>
              <th data-priority="1">N°</th>
              <th>Nombre de Empresa</th>
              <th>Nombre de Representante</th>
              <th>Número de Identifiación</th>
              <th>Número de Teléfono</th>
              <th>email</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let customer of customers; let i = index">
              <td class="id">{{i + 1}}</td>

              <td>{{customer.nomEmpresa}}</td>
              <td>{{customer.nomRepresentante}}</td>
              <td class="fId">{{customer.numIdentificacion}}</td>
              <td>{{customer.numTelefono}}</td>
              <td>{{customer.email}}</td>

            </tr>
            </tbody>

          </table>
        </div>
      </div>
      <!-- CONTAINER BODY END -->
    </div>
    <!-- CONTAINER END -->
  </div>
  <!-- CARD BODY END -->
</div>
<!-- CARD END -->
