<!-- CARD START -->
<mat-card @fade>
  <mat-card-header>
    <mat-card-title>
      Clientes
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="row" *ngIf="loaders.loadingData">
      <div class="col text-center">
        <img src="assets/img/loading.svg" width="5%" alt="loading">
        <p>Cargando información...</p>
      </div>
    </div>

    <div class="row justify-content-end ">
      <div class="col">
        <button mat-raised-button (click)="showNewCustForm()" type="button" color="primary" class="float-right mb-2">
          <i class="fa fa-plus"></i>
          Agregar Cliente
        </button>
      </div>

    </div>
    <div class="table-responsive">
      <table id="dTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="display compact" style="width:100%">
        <thead>
        <tr>
          <th data-priority="1">N°</th>
          <th>Nombre de Empresa</th>
          <th>Nombre de Representante</th>
          <th>Número de Identificación</th>
          <th>Número de Teléfono</th>
          <th>email</th>
          <th>Balance</th>
          <th data-priority="1">Acción</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let customer of customers; let i = index">
          <td class="id">{{i + 1}}</td>
          <td>{{customer.nomEmpresa}}</td>
          <td>{{customer.nomRepresentante}}</td>
          <td class="fId">{{customer.numIdentificacion}}</td>
          <td>{{customer.numTelefono}}</td>
          <td>{{customer.email}}</td>
          <td>
            <a [routerLink]="['/admins/balance-cliente',customer.idCliente,customer.nomEmpresa]" style="color: #0071A2">
              <i class="fa fa-eye"></i> Ver Balance
            </a>
          </td>
          <td>
            <a (click)="showEditForm(customer.idCliente)" style="color: #0071A2">
              <i class="fa fa-edit"></i> Editar
            </a>
          </td>
        </tr>
        </tbody>

      </table>
    </div>

  </mat-card-content>

</mat-card>

<!-- CARD END -->
