<!--CARD START -->
<div @fade class="card shadow-sm">
  <div class="card-header">
    <h3>Todos mis Deliveries</h3>
  </div>
  <!-- CARD BODY START -->
  <div class="card-body p-0">

    <div class="row" *ngIf="loaders.loadingData">
      <div class="col text-center">
        <img src="/GestionesDelivery/assets/img/loading.svg" width="5%" alt="loading">
        <p>Cargando información...</p>
      </div>
    </div>
    <!-- DATATABLE START -->
    <app-customer-datatable [deliveries]="deliveries" [dtTrigger]="dtTrigger"></app-customer-datatable>
    <!-- DATATABLE END -->
  </div>
  <!--CARD BODY END -->

</div>
<!-- CARD END -->

<!-- MODAL START -->
<div id="errModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-danger"><i class="fa fa-exclamation-circle"></i> Ha ocurrido un error </h3>
      </div>
      <div class="modal-body">
        <p>{{msgError}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm btn-rounded" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL END -->

