<!--CARD START -->
<div @fade class="card shadow-sm">
  <div class="card-header">
    <h3>Sucursales {{curUser.cliente.nomEmpresa}}</h3>
  </div>
  <!-- CARD BODY START -->
  <div class="card-body p-0">

    <div class="row" *ngIf="loaders.loadingData">
      <div class="col text-center">
        <img src="/GestionesDelivery/assets/img/loading.svg" width="5%" alt="loading">
        <p>Cargando información...</p>
      </div>
    </div>
    <!-- DATATABLE START -->
    <!-- CONTAINER START -->
    <div class="ibox">
      <div class="ibox-title">
        <h5>Listado de Reservaciones</h5>
      </div>
      <!-- CONTAINER BODY START -->
      <div class="ibox-content">
        <div class="table-responsive">
          <table id="dTable" datatable [dtOptions]="bdtOptions" [dtTrigger]="bdtTrigger"
                 class="display" style="width:100%">
            <thead>
            <tr>
              <th>N°</th>
              <th>Nombre de sucursal</th>
              <th>Número de teléfono</th>
              <th>Dirección</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let branch of myBranchOffices"  style="cursor: pointer" >
              <td class="id">{{branch.idSucursal}}</td>
              <td>{{branch.nomSucursal}}</td>
              <td>{{branch.numTelefono}}</td>
              <td>{{branch.direccion}}</td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>
      <!-- CONTAINER BODY END -->
    </div>
    <!-- CONTAINER END -->
    <!-- DATATABLE END -->
  </div>
  <!--CARD BODY END -->

</div>
<!-- CARD END -->




