<!-- MODAL START -->
<h2 mat-dialog-title class="text-primary">
  <i class="fa fa-camera"></i> Fotografías de Envío
  <a class=" float-right btn" (click)="dialogRef.close()">
    <mat-icon>
      close
    </mat-icon>
  </a>
</h2>
<mat-dialog-content>
  <div class="row text-center" >
    <div [ngClass]="photos.length >= 2 ? 'col-6' : 'col-12'"  *ngFor="let photo of photos">
      <mat-card class="mb-2" >
        <img mat-card-image alt="Cargando imagen..." src="{{imageRoute + photo.rutaFotografia}}" >
      </mat-card>
    </div>
  </div>
</mat-dialog-content>


<!-- MODAL END -->
