<!-- MODAL START -->
<h2 mat-dialog-title class="text-info">
  <i class="fa fa-edit"></i> Editar Categoría
</h2>
<mat-dialog-content>
  <div class="row" *ngIf="loaders.loadingSubmit">
    <div class="col text-center">
      <img src="assets/img/loading.svg" width="35%" alt="loading">
      <p>Cargando información...</p>
    </div>
  </div>

  <form [formGroup]="edCatForm" *ngIf="!loaders.loadingSubmit">
    <div class="form-group">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Descripción de Categoría:</mat-label>
        <input matInput id="descCategoria" type="text" formControlName="descCategoria" required maxlength="60">
        <mat-icon matSuffix>create</mat-icon>
        <mat-error>*Este campo es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Descripción de categoría:</mat-label>
        <input matInput id="descripcion" type="text" formControlName="descripcion" maxlength="250"
               placeholder="¿Cuál será la descripción de la categoría?" required>
        <mat-icon matSuffix>subtitles</mat-icon>
        <mat-error>*Este campo es obligatorio</mat-error>
      </mat-form-field>

    </div>
    <div class="form-group">
      <mat-slide-toggle #matSlideToggle [checked]="currCategory.isActivo == true"
                        (toggleChange)="changeActive(!matSlideToggle.checked)">Activa</mat-slide-toggle>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" [disabled]="edCatForm.invalid || loaders.loadingSubmit" (click)="onFormEditSubmit()"
          mat-raised-button color="primary" >
    Confimar
  </button>
  <button type="button" mat-raised-button mat-dialog-close>
    Cancelar
  </button>

</mat-dialog-actions>

<!-- MODAL END -->

