<!-- MODAL START -->
<h2 mat-dialog-title class="text-info">
  <mat-icon [inline]="true">note_add</mat-icon> Nuevo Cargo Extra
</h2>
<mat-dialog-content>
  <div class="row" *ngIf="loaders.loadingSubmit">
    <div class="col text-center">
      <img src="../../../../../assets/img/loading.svg" width="35%" alt="loading">
      <p>Cargando información...</p>
    </div>
  </div>

  <form [formGroup]="newECForm">
    <div class="form-row">
      <mat-form-field appearance="outline" class="col-md">
        <mat-label>Descripción de Cargo Extra:</mat-label>
        <input matInput type="text" formControlName="nombre"
               required maxlength="50" placeholder="Descripción del cargo extra">
        <mat-icon matSuffix>create</mat-icon>
        <mat-error>*Este campo es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md">
        <mat-label>Monto:</mat-label>
        <input matInput type="number" min="1" formControlName="costo"
               required>
        <mat-error>*Este campo es obligatorio</mat-error>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md">
        <mat-label>Tipo de Cargo:</mat-label>
        <mat-select formControlName='tipoCargo' required>
          <mat-option value="F">Fijo</mat-option>
          <mat-option value="V">Variable</mat-option>
        </mat-select>
        <mat-error>*Este campo es obligatorio</mat-error>
        <mat-icon matSuffix>list</mat-icon>
      </mat-form-field>

    </div>
    <h4>Agregar Categoría</h4>
    <hr>
    <div class="form-row">

      <mat-form-field appearance="outline" floatLabel="always" class="col-md-10">
        <mat-label>Categoría:</mat-label>
        <mat-select id="idCategoriaN" formControlName="idCategoria" required placeholder="- Seleccione una categoría -">
          <mat-option *ngFor="let category of categories" [value]="category.idCategoria">
            {{category.descCategoria}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>list</mat-icon>
        <mat-error>*Este campo es obligatorio</mat-error>
      </mat-form-field>

      <button class="col-md-2" mat-raised-button color="primary" (click)="addCategoryToExtraCharge(f.idCategoria.value)"
              [disabled]="newECForm.invalid || loaders.loadingSubmit">
        Agregar
      </button>

    </div>

  </form>
  <br>

  <div class="form-row">
    <div class="col">
      <h4>Categorías Asignadas</h4>
      <hr>
      <div class="table-responsive">
        <table id="dTable" class="display compact" style="width:100%">
          <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Categoría</th>
            <th scope="col" data-priority="1">Acción</th>
          </tr>

          </thead>

          <tbody>
          <tr *ngFor="let category of extraChargeCategories; let i = index">
            <td>{{i + 1}}</td>
            <td>{{category.descCategoria}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeFromArray(category)"><i
                class="fa fa-trash-alt"></i>
                Quitar
              </button>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" [disabled]="newECForm.invalid || loaders.loadingSubmit || extraChargeCategories.length == 0" (click)="onNewFormSubmit()"
          mat-raised-button color="primary">
    Confimar
  </button>
  <button type="button" mat-raised-button mat-dialog-close>
    Cancelar
  </button>

</mat-dialog-actions>

<!-- MODAL END -->



