<!-- INICIO CARD -->
<mat-card @fade>
  <app-customer-alert [demandMSG]="demandMSG"></app-customer-alert>

  <!--  INICIO ENCABEZADO CARD-->
  <app-form-title [title]="'Delivery Express'"></app-form-title>
  <!--  FIN  ENCABEZADO CARD-->

  <!-- INICIO CARD CONTENT -->
  <mat-card-content>
    <!-- INICIO DEL FORM DELIVERY CONTAINER-->
    <div class="row">
      <div class="col">
        <p>Ingresa los datos del Delivery en el siguiente formulario</p>
        <!--FORM START-->
        <form
          [formGroup]="deliveryForm"
          role="form"
          (ngSubmit)="onFormSubmit()"
        >
          <!-- INICIO DELIVERY HEADER -->
          <div class="row">
            <!-- INICIO LADO DE FORMULARIO-->
            <div class="col-md">
              <h3 class="card-title">Categoría a Reservar</h3>
              <hr />
              <mat-tab-group>
                <mat-tab label="Delivery">
                  <div class="col" formGroupName="deliveryHeader">
                    <br />
                    <mat-radio-group
                      (change)="calculatedistanceBefore()"
                      formControlName="idCategoria"
                    >
                      <app-category-selection
                        (setSelectedCategory)="setSelectedCategory($event)"
                        [newForm]="newForm"
                        [categories]="deliveryCategories"
                      >
                      </app-category-selection>
                    </mat-radio-group>
                  </div>
                </mat-tab>

                <mat-tab label="Transporte">
                  <div class="col" formGroupName="deliveryHeader">
                    <br />
                    <mat-radio-group
                      (change)="calculatedistanceBefore()"
                      formControlName="idCategoria"
                    >
                      <app-category-selection
                        (setSelectedCategory)="setSelectedCategory($event)"
                        [newForm]="newForm"
                        [categories]="transportationCategories"
                      >
                      </app-category-selection>
                    </mat-radio-group>
                  </div>
                </mat-tab>
              </mat-tab-group>

              <app-category-description
                *ngIf="selectedCategory.idCategoria"
                [selectedCategory]="selectedCategory"
              >
              </app-category-description>

              <h3 class="card-title">Detalles de Recogida</h3>
              <hr />
              <div class="row">
                <div class="col-12">
                  <p class="text-danger">
                    Si requieres servicio fuera de nuestros horarios hábiles,
                    favor comunícate al
                    <a href="tel:94397234">+504 9439-7234</a>
                  </p>
                </div>
              </div>

              <div class="form-row" formGroupName="deliveryHeader">
                <mat-form-field
                  appearance="outline"
                  floatLabel="always"
                  class="col-md"
                >
                  <mat-label>Opción de recogida:</mat-label>
                  <mat-select
                    id="prevHoraRecogida"
                    [(ngModel)]="hourOption"
                    [disabled]="orders.length > 0"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-option [value]="1" (click)="setCurrentDate()"
                      >Solicitar Ahora</mat-option
                    >
                    <mat-option
                      [value]="2"
                      (click)="reserv = !reserv; nowHourError = false"
                      >Programar
                    </mat-option>
                  </mat-select>
                  <mat-icon matPrefix>schedule</mat-icon>
                  <mat-hint>Horario: {{ hInit }} - {{ hFin }}</mat-hint>
                </mat-form-field>
              </div>
              <div *ngIf="nowHourError" class="alert alert-danger">
                *Ups! Parece que estás fuera de horario de servicio. Puedes
                programar tu envío para un horario vigente.
              </div>

              <div
                class="form-row"
                formGroupName="deliveryHeader"
                *ngIf="hourOption == 2"
              >
                <mat-form-field
                  appearance="outline"
                  floatLabel="always"
                  class="col-md"
                >
                  <mat-label>Fecha de recogida:</mat-label>
                  <input
                    formControlName="fecha"
                    type="date"
                    id="fecha"
                    required
                    matInput
                  />
                  <mat-icon matPrefix>today</mat-icon>
                  <mat-error
                    *ngIf="
                      newForm.get('deliveryHeader.fecha')?.errors?.required
                    "
                  >
                    *Este campo es obligatorio
                  </mat-error>
                  <mat-error
                    *ngIf="
                      newForm.get('deliveryHeader.fecha')?.errors?.mustAfterDate
                    "
                  >
                    *Ups! Parece que esa fecha no es válida
                  </mat-error>
                </mat-form-field>

                <mat-form-field
                  appearance="outline"
                  floatLabel="always"
                  class="col-md"
                >
                  <mat-label>Hora de recogida:</mat-label>
                  <input
                    formControlName="hora"
                    type="time"
                    id="hora"
                    required
                    matInput
                    (change)="validateHour()"
                  />
                  <mat-hint>Horario: {{ hInit }} - {{ hFin }}</mat-hint>
                  <mat-icon matPrefix>schedule</mat-icon>
                  <mat-error
                    *ngIf="newForm.get('deliveryHeader.hora')?.errors?.required"
                  >
                    *Este campo es obligatorio
                  </mat-error>
                  <mat-error
                    *ngIf="
                      newForm.get('deliveryHeader.hora')?.errors?.mustAfterHour
                    "
                  >
                    *Ups! Parece que esa hora no es válida
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- <div
                class="form-row"
                *ngIf="
                  allowPriority &&
                  reserv &&
                  newForm.get('deliveryHeader.hora').valid
                "
              >
                <div class="col-sm">
                  <mat-checkbox
                    [(ngModel)]="priority"
                    [value]="false"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <span>
                      <i class="fa fa-star"></i> Reserva Prioritaria
                      <span class="badge badge-primary">
                        L. {{ priorityCharge?.costo | number: ".2" }} x envio
                      </span>
                    </span>
                  </mat-checkbox>
                </div>
              </div> -->

              <div class="form-row" formGroupName="deliveryHeader">
                <mat-form-field
                  appearance="outline"
                  floatLabel="always"
                  class="col-sm"
                >
                  <mat-label>Punto de recogida:</mat-label>
                  <mat-select
                    id="prevDirRecogida"
                    [(ngModel)]="locationOption"
                    required
                    [ngModelOptions]="{ standalone: true }"
                    [disabled]="orders.length > 0"
                  >
                    <mat-option
                      [value]="1"
                      (click)="setCurrentLocationOrigin()"
                    >
                      Ubicación Actual
                    </mat-option>
                    <mat-option [value]="2" (click)="clearLocationField()"
                      >Ingresar Ubicación
                    </mat-option>
                    <mat-option
                      [value]="3"
                      (click)="clearLocationField(); checkInsructions()"
                      >Dirección Existente
                    </mat-option>
                  </mat-select>
                  <mat-icon matPrefix>location_on</mat-icon>
                </mat-form-field>

                <div class="col-md-6" *ngIf="locationOption == 2">
                  <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Direccion de recogida:</mat-label>
                    <input
                      matInput
                      (input)="searchPlace($event)"
                      autocomplete="nope"
                      name="dirRecogida"
                      [matAutocomplete]="autoOrg"
                      id="inputdirRecogida"
                      required
                      formControlName="dirRecogida"
                      [readonly]="orders.length > 0"
                      placeholder="¿Dónde recogeremos tu pedido?"
                    />
                    <mat-autocomplete #autoOrg="matAutocomplete">
                      <mat-option
                        *ngFor="let s of placesOrigin"
                        [value]="s.text"
                        (click)="getOriginCoords(); calculatedistanceBefore()"
                      >
                        {{ s.text }}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-icon matPrefix>location_on</mat-icon>
                    <div
                      matSuffix
                      *ngIf="searchingOrigin == true"
                      class="spinner-border spinner-border-sm text-secondary"
                      role="status"
                    >
                      <span class="sr-only">Loading...</span>
                    </div>
                    <mat-error
                      *ngIf="
                        newForm.get('deliveryHeader.dirRecogida')?.errors
                          ?.required
                      "
                      >*Este campo es obligatorio
                    </mat-error>
                    <mat-error
                      *ngIf="
                        newForm.get('deliveryHeader.dirRecogida')?.errors?.isUrl
                      "
                      >*Valor no válido
                    </mat-error>
                    <mat-hint>
                      <a
                        href="javascript:void(0);"
                        (click)="gcordsOrigin = true"
                        [hidden]="orders.length > 0"
                      >
                        Ingresar Geocordenadas
                      </a>
                    </mat-hint>
                  </mat-form-field>

                  <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    *ngIf="gcordsOrigin"
                  >
                    <input
                      #originCords
                      matInput
                      type="text"
                      placeholder="Ej. 10.1508684, -87.61982"
                    />
                    <button
                      mat-button
                      mat-icon-button
                      (click)="setCordsOrigin()"
                      matSuffix
                    >
                      <mat-icon>done</mat-icon>
                    </button>
                  </mat-form-field>
                </div>

                <mat-form-field
                  appearance="outline"
                  floatLabel="always"
                  class="col-md-6"
                  *ngIf="locationOption == 3"
                >
                  <mat-label>Punto de recogida:</mat-label>
                  <mat-select
                    id="dirRecogida"
                    required
                    formControlName="dirRecogida"
                    placeholder="- Seleccione un punto de recogida -"
                  >
                    <mat-option
                      *ngFor="let branch of myBranchOffices"
                      value="{{ branch?.direccion }}"
                      (click)="
                        getOriginCoords();
                        calculatedistanceBefore();
                        checkInsructions()
                      "
                    >
                      {{ branch.nomSucursal }}
                    </mat-option>
                  </mat-select>
                  <mat-icon matPrefix>location_on</mat-icon>
                  <mat-error>*Este campo es obligatorio</mat-error>
                </mat-form-field>
              </div>

              <div class="form-row" formGroupName="deliveryHeader">
                <mat-form-field
                  appearance="outline"
                  floatLabel="always"
                  class="col-md-12"
                >
                  <mat-label>Instrucciones de Recogida:</mat-label>
                  <textarea
                    matInput
                    id="instGenerales"
                    formControlName="instrucciones"
                    class="form-control"
                    maxlength="150"
                    placeholder="¿Necesitamos instrucciones para la recogida de tus envíos?"
                  >
                  </textarea>
                  <mat-icon matPrefix>assignment</mat-icon>
                  <mat-error>*Excede la longitud máxima permitida</mat-error>
                </mat-form-field>

                <input type="text" formControlName="coordsOrigen" hidden />
              </div>

              <div
                *ngIf="myLabels.length > 0"
                class="form-row"
                formGroupName="deliveryHeader"
              >
                <mat-form-field
                  appearance="outline"
                  floatLabel="always"
                  class="col-md-6"
                >
                  <mat-label>Agregar Etiqueta:</mat-label>
                  <mat-select
                    id="idEtiqueta"
                    formControlName="idEtiqueta"
                    placeholder="- Seleccione una etiqueta -"
                  >
                    <mat-option
                      *ngFor="let label of myLabels"
                      value="{{ label.idEtiqueta }}"
                    >
                      {{ label.descEtiqueta }}
                    </mat-option>
                    <mat-option value="{{ null }}">Sin etiqueta</mat-option>
                  </mat-select>
                  <mat-icon matPrefix>label</mat-icon>
                </mat-form-field>
              </div>

              <!--DELIVERY HEADER GROUP END-->

              <!--ORDER ADD FORM START-->
              <h3 *ngIf="files.length == 0" class="card-title">
                {{ detailTitle }}
              </h3>
              <hr *ngIf="files.length == 0" />

              <div
                class="form-row"
                formGroupName="order"
                *ngIf="files.length == 0"
              >
                <mat-form-field
                  appearance="outline"
                  floatLabel="always"
                  class="col-md-6"
                  
                >
                  <mat-label>Detalle de envío:</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="nFactura"
                    id="nFactura"
                    [required]="selectedCategory?.idTipoServicio == 1"
                    maxlength="250"
                    placeholder="¿Qué deseas enviar?"
                  />
                  <mat-icon matPrefix>receipt</mat-icon>
                  <mat-error
                    *ngIf="newForm.get('order.nFactura').errors?.required"
                  >
                    *Este campo es obligatorio
                  </mat-error>
                  <mat-error
                    *ngIf="newForm.get('order.nFactura').errors?.maxlength"
                  >
                    *Excede la longitud máxima permitida
                  </mat-error>
                </mat-form-field>

                <mat-form-field
                  appearance="outline"
                  floatLabel="always"
                  class="col-md-6"
                >
                  <mat-label>{{ nameLabel }}:</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="nomDestinatario"
                    id="nomDestinatario"
                    required
                    maxlength="150"
                    [placeholder]="nameHolder"
                  />
                  <mat-icon matPrefix>person</mat-icon>
                  <mat-error
                    *ngIf="
                      newForm.get('order.nomDestinatario').errors?.required
                    "
                  >
                    *Este campo es obligatorio
                  </mat-error>
                  <mat-error
                    *ngIf="
                      newForm.get('order.nomDestinatario').errors?.maxlength
                    "
                  >
                    *Excede la longitud máxima permitida
                  </mat-error>
                </mat-form-field>
              </div>

              <div
                class="form-row"
                formGroupName="order"
                *ngIf="files.length == 0"
              >
                <mat-form-field
                  appearance="outline"
                  floatLabel="always"
                  class="col-md-6"
                >
                  <mat-label>Número celular del destinatario:</mat-label>
                  <input
                    matInput
                    type="tel"
                    id="numCel"
                    formControlName="numCel"
                    [required]="selectedCategory?.idTipoServicio == 1"
                    minlength="9"
                    autocomplete="off"
                    maxlength="9"
                    appPhoneMask
                    placeholder="Ej. 9999-9999(Guión Automático)"
                  />
                  <mat-icon matPrefix>phone</mat-icon>
                  <mat-error
                    *ngIf="
                      newForm.get('order.numCel').errors?.minlength ||
                      newForm.get('order.numCel').errors?.maxlength
                    "
                  >
                    *Por favor ingresa un número válido
                  </mat-error>
                  <mat-error
                    *ngIf="newForm.get('order.numCel').errors?.required"
                  >
                    *Este campo es obligatorio
                  </mat-error>
                </mat-form-field>

                <mat-form-field
                  appearance="outline"
                  floatLabel="always"
                  class="col-md-6"
                >
                  <mat-label>Instrucciones de Entrega:</mat-label>
                  <textarea
                    matInput
                    id="instEspecificas"
                    formControlName="instrucciones"
                    maxlength="150"
                    class="form-control"
                    [placeholder]="instHolder"
                  ></textarea>
                  <mat-icon matPrefix>assignment</mat-icon>
                  <mat-error>*Excede la longitud máxima permitida</mat-error>
                </mat-form-field>

                <div class="col-md-6">
                  <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Punto de entrega:</mat-label>
                    <input
                      type="text"
                      (input)="searchPlace($event)"
                      autocomplete="off"
                      [matAutocomplete]="autoDest"
                      matInput
                      name="direccion"
                      formControlName="direccion"
                      id="direccion"
                      required
                      [placeholder]="dliveryHolder"
                    />
                    <mat-autocomplete #autoDest="matAutocomplete">
                      <mat-option
                        *ngFor="let s of placesDestination"
                        [value]="s.text"
                        (click)="calculatedistanceBefore()"
                      >
                        {{ s.text }}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-icon matPrefix>location_on</mat-icon>
                    <div
                      matSuffix
                      *ngIf="searchingDest == true"
                      class="spinner-border spinner-border-sm text-secondary"
                      role="status"
                    >
                      <span class="sr-only">Loading...</span>
                    </div>
                    <mat-error
                      *ngIf="newForm.get('order.direccion')?.errors?.required"
                      >*Este campo es obligatorio
                    </mat-error>
                    <mat-error
                      *ngIf="newForm.get('order.direccion')?.errors?.isUrl"
                      >*Valor no válido</mat-error
                    >
                    <mat-hint>
                      <a
                        href="javascript:void(0)"
                        (click)="gcordsDestination = true"
                      >
                        Ingresar Geocordenadas
                      </a>
                    </mat-hint>
                  </mat-form-field>

                  <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    *ngIf="gcordsDestination"
                  >
                    <input
                      #destinationCords
                      matInput
                      type="text"
                      placeholder=" Ej. 10.1508684, -87.61982"
                    />
                    <button
                      mat-button
                      mat-icon-button
                      (click)="setCordsDestination()"
                      matSuffix
                    >
                      <mat-icon>done</mat-icon>
                    </button>
                  </mat-form-field>
                  <br />
                  <mat-checkbox
                    #checkboxDest
                    (change)="setCurrentLocationDest(!checkboxDest.checked)"
                  >
                    Ubicación actual
                  </mat-checkbox>
                </div>
              </div>

              <div
                *ngIf="prohibitedDistance"
                class="alert alert-danger"
                role="alert"
              >
                {{ prohibitedDistanceMsg }}
              </div>

              <h3
                class="card-title"
                *ngIf="
                  selectedCategory?.categoryExtraCharges?.length > 0 &&
                  files.length == 0
                "
              >
                Servicios Adicionales
              </h3>
              <hr
                *ngIf="
                  selectedCategory?.categoryExtraCharges?.length > 0 &&
                  files.length == 0
                "
              />

              <div class="row" *ngIf="files.length == 0">
                <div
                  class="col-lg-4 col-sm-6"
                  formGroupName="order"
                  *ngFor="
                    let extracharge of selectedCategory.categoryExtraCharges
                  "
                >
                  <p class="card-title">
                    {{ extracharge.extra_charge.nombre }}
                  </p>

                  <mat-radio-group formControlName="extracharge">
                    <mat-radio-button
                      class="col"
                      *ngFor="let option of extracharge.extra_charge.options"
                      [value]="option.idCargoExtra"
                      (change)="
                        addExtraCharge(
                          extracharge.extra_charge.idCargoExtra,
                          option
                        )
                      "
                    >
                      <span style="white-space: normal"
                        >{{ option.descripcion }} (L.
                        {{ option.costo | number: ".2" }} )</span
                      >
                    </mat-radio-button>
                    <mat-radio-button
                      class="col"
                      (change)="removeExtraCharges(extracharge.idCargoExtra)"
                    >
                      <span style="white-space: normal">Ninguno</span>
                    </mat-radio-button>
                  </mat-radio-group>

                  <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    *ngIf="extracharge.idCargoExtra == 13"
                  >
                    <mat-label>Valor a Asegurar:</mat-label>
                    <input
                      matInput
                      (change)="addCare()"
                      formControlName="montoCobertura"
                      [required]="newForm.get('order.extracharge').value == 13"
                      type="number"
                      placeholder="Valor a Asegurar"
                    />
                    <mat-error
                      *ngIf="
                        newForm.get('order.montoCobertura')?.errors?.required
                      "
                      >*Este campo es obligatorio
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- FIN LADO DE FORMULARIO -->

            <!-- INICIO LADO DE RUTA -->
            <div class="col-md">
              <h3 class="card-title">Ruta de Entrega</h3>
              <hr />
              <div class="row">
                <div class="col">
                  <google-map
                    #googleMap
                    height="380px"
                    width="100%"
                    id="map"
                    [center]="center"
                  ></google-map>
                </div>
              </div>
            </div>
            <!-- FIN LADO DE RUTA -->
          </div>
          <!-- FIN DELIVERY HEADER -->

          <br />

          <!-- INICIO ARCHIVO TXT -->
          <div class="row">
            <div class="col">
              <ngx-dropzone
                [accept]="'text/*'"
                [expandable]="true"
                (change)="onSelect($event)"
                [multiple]="false"
              >
                <ngx-dropzone-label>
                  Arrastrar archivo de entregas aquí
                  (*Opcional)</ngx-dropzone-label
                >
                <ngx-dropzone-preview
                  *ngFor="let f of files"
                  [removable]="true"
                  (removed)="onFileRemove(f)"
                >
                  <ngx-dropzone-label
                    >{{ f?.name }}({{ f?.type }})</ngx-dropzone-label
                  >
                </ngx-dropzone-preview>
              </ngx-dropzone>
              <small
                ><a
                  href="../../../../assets/helpers/archivo_prueba.txt"
                  target="_blank"
                  >Archivo de muestra</a
                ></small
              >
            </div>
          </div>
          <!-- FIN ARCHIVO TXT -->

          <br />

          <!-- INICIO DATOS EN TIEMPO REAL -->
          <div class="form-row text-center">
            <div class="col">
              <span
                ><i class="fa fa-clock"></i> Tiempo:
                <span
                  *ngIf="loaders.loadingDistBef"
                  class="spinner-border spinner-border-sm mr-1"
                >
                </span>
                {{ befTime }}</span
              >
            </div>
            <div class="col">
              <span
                ><i class="fa fa-ruler"></i> Distancia:
                <span
                  *ngIf="loaders.loadingDistBef"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                {{ befDistance }}</span
              >
            </div>
            <div class="col">
              <span>
                <i class="fa fa-dollar-sign"></i>
                Costo:
                <span
                  *ngIf="loaders.loadingDistBef"
                  class="spinner-border spinner-border-sm mr-1"
                >
                </span>
                L. {{ befCost }}
              </span>
            </div>
          </div>

          <!-- FIN DATOS EN TIEMPO REAL -->
          <br />
          <div class="form-row">
            <div class="col-md-6" *ngIf="!files.length">
              <button
                mat-raised-button
                type="button"
                (click)="onOrderAdd()"
                color="primary"
                class="float-left"
                [disabled]="
                  loaders.loadingAdd ||
                  !selectedCategory?.idCategoria
                "
              >
                <span
                  *ngIf="loaders.loadingAdd"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Agregar entrega
              </button>
            </div>

            <div class="col-md-6" *ngIf="files.length">
              <button
                mat-raised-button
                type="button"
                (click)="onFileOrdersAdd()"
                color="primary"
                [disabled]="
                  deliveryForm.get('deliveryHeader').invalid ||
                  loaders.loadingAdd ||
                  !selectedCategory?.idCategoria
                "
                class="float-left"
              >
                <span
                  *ngIf="loaders.loadingAdd"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Agregar entregas
              </button>
            </div>
          </div>

          <div *ngIf="agregado" class="alert alert-success" role="alert">
            Se agregó correctamente
          </div>

          <!--ORDER ADD FORM END-->
        </form>
        <!-- FORM END -->
      </div>
    </div>
    <!--DELIVERY FORM BLOCK END-->
    <br />
    <!--CARD BLOCK ORDER TABLE START-->
    <div class="row">
      <!--ORDERS TABLE START-->
      <div class="col">
        <div class="table-responsive">
          <table
            id="dTable"
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="display compact"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Detalle de Envío</th>
                <th scope="col">Nombre del Destinatario</th>
                <th scope="col">Número Celular del Destinatario</th>
                <th scope="col">Intsrucciones</th>
                <th scope="col">Dirección del Destinatario</th>
                <th scope="col">Distancia</th>
                <th scope="col" data-priority="1">Acción</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let order of orders; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ order.nFactura }}</td>
                <td>{{ order.nomDestinatario }}</td>
                <td>{{ order.numCel }}</td>
                <td>{{ order.instrucciones }}</td>
                <td>{{ order.direccion }}</td>
                <td>{{ order.distancia }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger"
                    (click)="removeFromArray(order)"
                  >
                    <i class="fa fa-trash-alt"></i>
                    Quitar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!--ORDERS TABLE END-->
    </div>
    <!--CARD BLOCK ORDER TABLE END-->

    <!--CARD BLOCK PAYMENT OPTION START-->

    <div class="row" *ngIf="orders.length > 0">
      <!-- <div class="col-12">
        <h3 class="card-title">Forma de pago</h3>
        <hr>
      </div> -->

      <!--

      <div class="col-12">
        <mat-checkbox [(ngModel)]="paymentMethod" [value]="1">
          <span>
            <i class="fa fa-book"></i> Registrar Reservación
            <span class="badge badge-primary">
              L. {{pago.total | number: '.2'}}
            </span>
          </span>
        </mat-checkbox>
      </div>-->
    </div>
    <!--CARD BLOCK PAYMENT OPTION end-->
  </mat-card-content>
  <!--CARD BODY END -->

  <mat-card-actions>
    <app-notas-generales *ngIf="paymentMethod == 1 && orders.length > 0">
    </app-notas-generales>

    <div class="col" *ngIf="paymentMethod == 1 && orders.length > 0">
      <mat-checkbox [(ngModel)]="acceptTerms" [value]="false">
        <span>
          <i class="fa fa-gavel"></i> <strong>Acepto los términos</strong>
        </span>
      </mat-checkbox>
    </div>

    <div class="col">
      <button
        mat-raised-button
        type="button"
        *ngIf="paymentMethod == 1 && orders.length > 0"
        class="mx-0"
        [disabled]="this.orders.length == 0 || !acceptTerms"
        color="primary"
        (click)="openConfirmDialog()"
      >
        Registrar Reservación
        <span class="badge badge-warning">
          {{
            priority == true
              ? "L. " + (pago.total + priorityCharge?.costo * orders?.length)
              : "L. " + pago.total
          }}
        </span>
      </button>

      <button
        type="button"
        *ngIf="paymentMethod == 2 && orders.length > 0"
        disabled
        class="btn btn-sm btn-outline-primary"
      >
        Registrar Reservación
      </button>
    </div>
  </mat-card-actions>
</mat-card>
<!-- CARD END -->
