<!--CARD START -->
<mat-card @fade>
  <mat-card-header>
    <mat-card-title>
      Pagos
    </mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <div class="row" *ngIf="loaders.loadingData">
      <div class="col text-center">
        <img src="assets/img/loading.svg" width="5%" alt="loading">
        <p>Cargando información...</p>
      </div>
    </div>

    <!-- CONTAINER START -->

    <div class="row justify-content-end">
      <div class="col">
        <button mat-raised-button (click)="showNewForm()" type="button" color="primary" class="float-right mb-2">
          <i class="fa fa-plus"></i>
          Agregar Pago
        </button>
      </div>
    </div>
    <!-- CONTAINER BODY START -->

    <div class="table-responsive">
      <table id="dTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="display compact" style="width:100%">
        <thead>
        <tr>
          <th>Fecha de Pago</th>
          <th>Monto</th>
          <th>Tipo de Pago</th>
          <th>Usuario</th>
          <th>Cliente</th>
          <th>Referencia</th>
          <th>Banco</th>
          <th>Número de Autorización</th>
         <!-- <th data-priority="1">Acción</th> -->
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let payment of payments">
          <td>{{payment.fechaPago}}</td>
          <td>L. {{payment.monto}}</td>
          <td>{{payment.payment_type.nomTipoPago}}</td>
          <td>{{payment.user.nomUsuario}}</td>
          <td>{{payment.customer.nomEmpresa}}</td>
          <td>{{payment.referencia || 'N/A'}}</td>
          <td>{{payment.banco || 'N/A'}}</td>
          <td>{{payment.numAutorizacion || 'N/A'}}</td>
         <!-- <td>
            <a (click)="showEditForm(payment.idPago)" style="color: #0071A2">
              <i class="fa fa-edit"></i> Editar
            </a>
          </td>-->

        </tr>
        </tbody>

      </table>
    </div>
    <!-- CONTAINER END -->
  </mat-card-content>
</mat-card>

<!-- CARD END -->




