<!-- MODAL START -->
<h2 mat-dialog-title class="text-info">
  <i class="fa fa-edit"></i> Agregar Cargo Extra a Envío
</h2>
<mat-dialog-content>

  <div class="row" *ngIf="loaders.loadingSubmit">
    <div class="col text-center">
      <img src="../../../../assets/img/loading.svg" width="35%" alt="loading">
      <p>Procesando Información...</p>
    </div>
  </div>

  <form class="row" [formGroup]="extraChargeForm" *ngIf="!loaders.loadingSubmit">
    <mat-form-field appearance="outline" floatLabel="always" class="col-12">
      <mat-label>Cargo Extra</mat-label>
      <mat-select formControlName="idCargoExtra" placeholder="- Seleccione un cargo extra -" required>
        <mat-option *ngFor="let extracharge of extraCharges"
                    (click)="setSelectedExtraCharge(extracharge)"
                    [value]="extracharge.idCargoExtra">
                    <span *ngIf="extracharge.tipoCargo === 'F'">
                      {{extracharge.nombre + ' '}}
                      <span class="badge badge-primary">L.{{ extracharge.costo }}</span>
                    </span>
          <span *ngIf="extracharge.tipoCargo === 'V'">
                      {{extracharge.nombre + ' '}}
                    </span>
        </mat-option>
      </mat-select>
      <mat-error>*Este campo es obligatorio</mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" floatLabel="always" class="col-12"
                    *ngIf="selectedExtraCharge?.options?.length > 0">
      <mat-label>Opción de {{selectedExtraCharge.nombre}}</mat-label>
      <mat-select formControlName="idOpcionExtra" required
                  placeholder="- Seleccione una opción -" class="col">
        <mat-option *ngFor="let option of selectedExtraCharge.options"
                    value="{{option.idDetalleOpcion}}" (click)="setSelectedExtraChargeOption(option)">
          {{option.descripcion  }}<span class="badge badge-primary">L.{{ '  ' + option.costo}}</span>
        </mat-option>
      </mat-select>
      <mat-error>*Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="col-12"
                    *ngIf="selectedExtraCharge?.tipoCargo == 'V'">
      <mat-label>Monto de Cargo Variable:</mat-label>
      <input type="number" min="1" matInput required formControlName="montoCargoVariable">
      <mat-error>*Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="col-12">
      <mat-label>Observaciones:</mat-label>
      <input type="text" maxlength="100" matInput formControlName="observaciones" placeholder="Agregar observaciones al envío">
    </mat-form-field>

  </form>

  <div class="row" *ngIf="currentOrder.extra_charges">
    <div class="col-12">
      <h3>Cargos Aplicados</h3>
    </div>

    <div class="col-12">
      <div class="row" *ngFor="let extraCharge of currentOrder.extra_charges">
        <div class="col-md">
          <p>{{extraCharge.extracharge.nombre}}</p>
        </div>
        <div class="col-md">
          <button *ngIf="extraCharge.extracharge.tipoCargo == 'F'" type="button" class="btn btn-sm btn-outline-danger"
                  (click)="removeExtraCharge(extraCharge)">
            <i class="fa fa-trash-alt"></i>
            Quitar
          </button>
        </div>
      </div>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button *ngIf="selectedExtraCharge?.options?.length > 0" type="button" mat-raised-button
          [disabled]="extraChargeForm.invalid" (click)="onFormSubmit()" color="primary">
    Cambiar
  </button>

  <button *ngIf="selectedExtraCharge?.options?.length == 0 || !selectedExtraCharge.options"
          type="button" mat-raised-button [disabled]="extraChargeForm.invalid" (click)="onFormSubmit()" color="primary">
    Cambiar
  </button>
  <button type="button" mat-raised-button mat-dialog-close>Cancelar</button>

</mat-dialog-actions>

<!-- MODAL END -->


