<!-- CARD START -->
<mat-card @fade>
  <mat-card-header>
    <mat-card-title>Mi Perfil</mat-card-title>
  </mat-card-header>


  <!-- CARD BODY START -->
  <mat-card-content>
    <div class="row" *ngIf="loaders.loadingData || loaders.loadingSubmit">
      <div class="col text-center">
        <img src="assets/img/loading.svg" width="35%" alt="loading">
        <p>Procesando Información...</p>
      </div>
    </div>

    <div class="container-fluid" *ngIf="!loaders.loadingData && !loaders.loadingSubmit">
      <div class="row">
        <div class="col-sm">
          <strong><i class="fa fa-user"></i> Nombre:</strong>
          {{currentUser.nomUsuario}}
        </div>
        <div class="col-sm">
          <strong><i class="fa fa-user"></i> Nombre de usuario:</strong>
          {{currentUser.nickUsuario}}
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-lg">
          <h3>Cambio de Contraseña</h3>
        </div>

      </div>

      <div class="row">
        <div class="col-lg">
          <p>Nota: La nueva contraseña debe complir con lo siguiente: </p>
          <ul>
            <li>1 Mayúscula</li>
            <li>1 Número</li>
            <li>1 Caracter Especial</li>
            <li>Longitud mínima de 8 caracteres</li>
          </ul>
        </div>
      </div>

      <form [formGroup]="passChangeForm" role="form">
        <div class="form-row">
          <mat-form-field appearance="outline" floatLabel="always" class="col-sm">
            <mat-label>Contraseña Actual:</mat-label>
            <input id="oldPass" type="password" required formControlName="oldPass"
                   placeholder="Ingresa tu contraseña actual" matInput>
            <mat-icon matPrefix>lock</mat-icon>
            <mat-error>*Este campo es obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" class="col-sm">
            <mat-label>Nueva Contraseña:</mat-label>
            <input type="password" id="newPass" required formControlName="newPass"
                   placeholder="Ingresa tu nueva contraseña" minlength="8" matInput>
            <mat-icon matPrefix>lock</mat-icon>
            <mat-error *ngIf="passChangeForm.get('newPass').errors?.required">
              *Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="passChangeForm.get('newPass').errors?.minlength">
              *La contraseña debe tener al menos 8 caracteres
            </mat-error>
            <mat-error *ngIf="passChangeForm.get('newPass').errors?.mustCapital">
              *Debe incluir 1 mayúscula
            </mat-error>
            <mat-error *ngIf="passChangeForm.get('newPass').errors?.mustNum">
              *Debe incluir 1 número
            </mat-error>
            <mat-error *ngIf="passChangeForm.get('newPass').errors?.mustSpecial">
              *Debe incluir 1 caracter especial
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" class="col-sm">
            <mat-label>Confirmar Nueva Contraseña:</mat-label>
            <input id="confirmNewPass" type="password" required formControlName="confirmNewPass"
                   placeholder="Confirma tu nueva contraseña" minlength="8" matInput>
            <mat-icon matPrefix>check_circle</mat-icon>

            <mat-error *ngIf="passChangeForm.get('confirmNewPass').errors?.required">
              *Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="passChangeForm.get('confirmNewPass').errors?.minlength">
              *La contraseña debe tener al menos 8 caracteres
            </mat-error>
            <mat-error *ngIf="passChangeForm.get('confirmNewPass').errors?.mustMatch">
              *Debe coincidir con la nueva contraseña
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <div class="form-row">
          <div class="col">
            <button type="button" (click)="onFormSubmit()" [disabled]="passChangeForm.invalid"
                    mat-raised-button color="primary" class="mr-2">
              <i class="fa fa-save"></i> Guardar
            </button>
            <button type="button" mat-raised-button (click)="cleanForm()"><i
              class="fa fa-times-circle"></i> Cancelar
            </button>
          </div>
        </div>

      </form>
    </div>

  </mat-card-content>
  <!-- CARD BODY END -->
</mat-card>
<!-- CARD END -->



