<!--CARD START -->
<div @fade class="card shadow-sm">

  <!-- CARD BODY START -->
  <div class="card-body">

    <!--HEADER BLOCK START-->
    <div class="row">
      <div class="col">
        <p class="card-title">
          <strong *ngIf="!loaders.loadingSubmit">
            Ingrese los datos del Delivery en el siguiente formulario
          </strong>
          <strong *ngIf="loaders.loadingSubmit">
            Espere mientras procesamos su solicitud, no cierre esta ventana.
          </strong>
        </p>
        <hr>
      </div>
    </div>
    <div class="row" *ngIf="loaders.loadingSubmit">
      <div class="col text-center">
        <img src="assets/img/loading.svg" width="35%" alt="loading">
        <p>Procesando información...</p>
      </div>
    </div>
    <!--HEADER BLOCK END-->

    <!--DELIVERY FORM BLOCK START-->
    <div class="row" *ngIf="!loaders.loadingSubmit">
      <!--FORM START-->
      <div class="col">
        <form [formGroup]="deliveryForm" role="form" (ngSubmit)="onFormSubmit()">
          <!--DELIVERY HEADER GROUP START-->
          <div class="form-group" formGroupName="deliveryHeader">
            <div class="form-row">
              <div class="col-sm">
                <label class="col-form-label" for="fecha">Fecha de recogida:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar-alt"></i>
                </span>
                  </div>
                  <input formControlName="fecha" type="date" class="form-control" id="fecha"
                         [class.is-invalid]="newForm.get('deliveryHeader.fecha').invalid && newForm.get('deliveryHeader.fecha').touched"
                         required>
                  <small class="invalid-feedback">
                    <p *ngIf="newForm.get('deliveryHeader.fecha').errors?.required">
                      *Este campo es obligatorio
                    </p>
                    <p *ngIf="newForm.get('deliveryHeader.fecha').errors?.mustAfterDate">
                      *Ups! Parece que esa fecha no es válida
                    </p>

                  </small>
                </div>
              </div>

              <div class="col-sm">
                <label class="col-form-label" for="hora">Hora de recogida:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar-alt"></i>
                </span>
                  </div>
                  <input formControlName="hora" type="time" class="form-control" id="hora" required
                         [class.is-invalid]="newForm.get('deliveryHeader.hora').invalid && newForm.get('deliveryHeader.hora').touched">
                  <small class="invalid-feedback">*Este campo es obligatorio</small>
                </div>
              </div>

              <div class="col-sm">
                <label class="col-form-label" for="prevDirRecogida">Punto de recogida:</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-map-marker-alt"></i>
                </span>
                  </div>

                  <select class="form-control" id="prevDirRecogida" [(ngModel)]="locationOption" required
                          [ngModelOptions]="{standalone: true}">
                    <option [value]="1">Ubicación Actual</option>
                    <option [value]="2">Ingresar Ubicación</option>
                    <option [value]="3">Dirección Existente</option>
                  </select>
                </div>

              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6" *ngIf="locationOption == 2">
                <label class="col-form-label" for="inputdirRecogida">Direccion de recogida:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-map-marker-alt"></i>
                    </span>
                  </div>

                  <input class="form-control" (input)="searchOrigin($event)" autocomplete="off"
                         id="inputdirRecogida" required formControlName="dirRecogida"
                         [class.is-invalid]="newForm.get('deliveryHeader.dirRecogida').invalid && newForm.get('deliveryHeader.dirRecogida').touched"
                         placeholder="¿Dónde recogeremos tu pedido?">
                  <small class="text-danger invalid-feedback">*Este campo es obligatorio</small>
                </div>
                <div class="suggestions" *ngIf="placesOrigin?.length">
                  <p *ngFor="let s of placesOrigin" (click)="setOrigin(s.text)">{{s.text}}</p>
                </div>
                <small > <a id="insertCords" href="javascript:void(0)" (click)="gcordsOrigin=true">Ingresar Geocordenadas</a> </small>

                <div class="input-group" *ngIf="gcordsOrigin">

                  <input #originCords class="form-control" type="text" placeholder=" Ej. 10.1508684, -87.61982">
                  <div class="input-group-append">
                    <button class="btn btn-primary" (click)="setCordsOrigin()"> Ok</button>
                  </div>
                </div>

              </div>

              <div class="col-md-6" *ngIf="locationOption == 3">
                <label class="col-form-label" for="dirRecogida">Punto de recogida:</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-map-marker-alt"></i>
                </span>
                  </div>

                  <select class="form-control" id="dirRecogida" required formControlName="dirRecogida"
                          (change)="calculatedistanceBefore()"
                          [class.is-invalid]="newForm.get('deliveryHeader.dirRecogida').invalid && newForm.get('deliveryHeader.dirRecogida').touched">
                    <option [value]="null">- Seleccione un punto de recogida -</option>
                    <option *ngFor="let branch of myBranchOffices"
                            value="{{branch.direccion}}">{{branch.nomSucursal}}</option>
                  </select>
                  <small class="text-danger invalid-feedback">*Este campo es obligatorio</small>
                </div>

              </div>

              <div class="col-md-6">
                <label class="col-form-label">Categoría a reservar:</label>
                <br>
                <div class="form-check form-check-inline" *ngFor="let category of categories; let  i = index">

                  <label class="form-check-label"
                         [ngStyle]="{'color': category.idCategoria === newForm.get('deliveryHeader.idCategoria').value ? '#FF8C00': '#000'}">
                    <input (change)="calculatedistanceBefore()" class="form-check-input" [id]="category.idCategoria"
                           formControlName="idCategoria" type="radio" [value]="category.idCategoria" hidden>
                    <i class="fa"
                       [ngClass]="{'fa-car': category.idCategoria == 1, 'fa-bus': category.idCategoria == 3, 'fas fa-truck-pickup': category.idCategoria == 2}"></i>
                    {{category.descCategoria}}
                  </label>

                </div>

              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6">
                <label class="col-form-label" for="instGenerales">Instrucciones de Recogida:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-clipboard-check"></i>
                    </span>
                  </div>

                  <textarea class="form-control" id="instGenerales" formControlName="instrucciones" maxlength="150"
                            [class.is-invalid]="newForm.get('deliveryHeader.instrucciones').invalid && newForm.get('deliveryHeader.instrucciones').touched"
                            placeholder="¿Necesitamos instrucciones para la recogida de tus envíos?"></textarea>
                  <small class="text-danger invalid-feedback">*Excede la longitud máxima permitida</small>
                </div>
              </div>
            </div>
          </div>

          <!--DELIVERY HEADER GROUP END-->

          <!--ORDER ADD FORM START-->
          <div class="form-row">
            <div class="col">
              <p class="card-title"><strong>Detalles de envíos:</strong></p>
              <hr>
            </div>
          </div>

          <div class="form-group" formGroupName="order">
            <div class="form-row">
              <div class="col-md-6">
                <label class="col-form-label" for="nFactura">Detalle de envío:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-money-bill"></i>
                </span>
                  </div>
                  <input type="text" formControlName="nFactura" class="form-control" id="nFactura" required
                         maxlength="250"
                         [class.is-invalid]="newForm.get('order.nFactura').invalid && newForm.get('order.nFactura').touched"
                         placeholder="¿Qué deseas enviar?">
                  <small class="text-danger invalid-feedback">
                    <p *ngIf="newForm.get('order.nFactura').errors?.required">*Este campo es obligatorio</p>
                    <p *ngIf="newForm.get('order.nFactura').errors?.maxlength">*Excede la longitud máxima permitida</p>

                  </small>
                </div>
              </div>

              <div class="col-md-6">
                <label class="col-form-label" for="nomDestinatario">Nombre del destinatario:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user"></i>
                </span>
                  </div>
                  <input type="text" class="form-control" formControlName="nomDestinatario" id="nomDestinatario"
                         required maxlength="150"
                         placeholder="¿Quién recibirá el pedido?"
                         [class.is-invalid]="newForm.get('order.nomDestinatario').invalid && newForm.get('order.nomDestinatario').touched">
                  <small class="text-danger invalid-feedback">
                    <p *ngIf="newForm.get('order.nomDestinatario').errors?.required">*Este campo es obligatorio</p>
                    <p *ngIf="newForm.get('order.nomDestinatario').errors?.maxlength">*Excede la longitud máxima
                      permitida</p>

                  </small>
                </div>

              </div>

            </div>

            <div class="form-row">

              <div class="col-md-6">
                <label class="col-form-label" for="numCel">Número celular del destinatario:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-phone"></i>
                </span>
                  </div>
                  <input type="tel" class="form-control" id="numCel" formControlName="numCel" required minlength="9"
                         maxlength="9" appPhoneMask
                         [class.is-invalid]="newForm.get('order.numCel').invalid && newForm.get('order.numCel').touched"
                         placeholder="Número celular sin espacios">
                  <small class="text-danger invalid-feedback">
                    <p
                      *ngIf="newForm.get('order.numCel').errors?.minlength || newForm.get('order.numCel').errors?.maxlength">
                      *Por favor ingresa un número válido
                    </p>
                    <p *ngIf="newForm.get('order.numCel').errors?.required">
                      *Este campo es obligatorio
                    </p>
                  </small>
                </div>

              </div>

              <div class="col-md-6">
                <label class="col-form-label" for="direccion">Punto de entrega:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-map-marker-alt"></i>
                </span>
                  </div>
                  <input type="text" (input)="searchDestination($event)" autocomplete="off"
                         class="form-control" formControlName="direccion" id="direccion" required
                         [class.is-invalid]="newForm.get('order.direccion').invalid && newForm.get('order.direccion').touched"
                         placeholder="¿Dónde entregaremos tu pedido?">
                  <small class="text-danger invalid-feedback">*Este campo es obligatorio</small>

                </div>

                <div class="suggestions" *ngIf="placesDestination?.length">
                  <p *ngFor="let s of placesDestination" (click)="setDestination(s.text)">{{s.text}}</p>
                </div>

                <small>
                  <a href="javascript:void(0)" (click)="gcordsDestination=true">Ingresar Geocordenadas</a>
                </small>


                <div class="input-group" *ngIf="gcordsDestination">

                  <input #destinationCords class="form-control" type="text" placeholder=" Ej. 10.1508684, -87.61982">

                  <div class="input-group-append">
                    <button class="btn btn-primary" (click)="setCordsDestination()"> Ok</button>
                  </div>
                </div>
                <br>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" (change)="setCurrentLocationDest($event)"><small>Ubicación
                    actual</small>
                  </label>
                </div>
              </div>

              <div class="col-md-6">
                <label class="col-form-label" for="instEspecificas">Instrucciones de Entrega:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-clipboard-check"></i>
                    </span>
                  </div>

                  <textarea class="form-control" id="instEspecificas" formControlName="instrucciones" maxlength="150"
                            [class.is-invalid]="newForm.get('order.instrucciones').invalid && newForm.get('order.instrucciones').touched"
                            placeholder="¿Necesitamos instrucciones para la entrega de éste envío?"></textarea>
                  <small class="text-danger invalid-feedback">*Excede la longitud máxima permitida</small>
                </div>
              </div>

            </div>
            <br>
            <div class="form-row text-center">
              <div class="col">
              <span><i class="fa fa-clock"></i>
                Tiempo: <span *ngIf="loaders.loadingDistBef"
                              class="spinner-border spinner-border-sm mr-1 ">
                </span> {{befTime}}</span>
              </div>
              <div class="col">
              <span><i class="fa fa-ruler"></i>
                Distancia: <span *ngIf="loaders.loadingDistBef"
                                                                 class="spinner-border spinner-border-sm mr-1 "></span> {{befDistance}}</span>
              </div>
              <div class="col">
              <span>
                <i class="fa fa-dollar-sign"></i>
                Costo:
                <span *ngIf="loaders.loadingDistBef"
                      class="spinner-border spinner-border-sm mr-1 ">
                </span> L. {{befCost}}
              </span>
              </div>

            </div>
            <br>
            <div class="form-row">
              <div class="col-md-6">
                <button type="button" (click)="onOrderAdd()"
                        [disabled]="!deliveryForm.get('order').valid || !deliveryForm.get('deliveryHeader').valid || loaders.loadingAdd"
                        class="btn btn-sm btn-outline-success float-left">
                  <span *ngIf="loaders.loadingAdd" class="spinner-border spinner-border-sm mr-1 "></span> Agregar
                  entrega
                </button>
              </div>
            </div>

          </div>


          <div *ngIf="agregado" class="alert alert-success" role="alert">
            Se agregó correctamente
          </div>

          <div *ngIf="prohibitedDistance" class="alert alert-danger" role="alert">
            {{prohibitedDistanceMsg}}
          </div>
          <!--ORDER ADD FORM END-->

        </form>
      </div>
      <!-- FORM END -->
    </div>
    <!--DELIVERY FORM BLOCK END-->

    <!--CARD BLOCK ORDER TABLE START-->
    <div class="row" *ngIf="!loaders.loadingSubmit">
      <!--ORDERS TABLE START-->
      <div class="col">
        <div class="table-responsive">
          <table id="dTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                 class="display table table-hover table-striped" style="width:100%">
            <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Detalle de Envío</th>
              <th scope="col">Nombre del Destinatario</th>
              <th scope="col">Número Celular del Destinatario</th>
              <th scope="col">Dirección del Destinatario</th>
              <th scope="col">Distancia</th>
              <th scope="col" data-priority="1">Acción</th>
            </tr>

            </thead>

            <tbody>
            <tr *ngFor="let order of orders; let i = index">
              <td>{{i + 1}}</td>
              <td>{{order.nFactura}}</td>
              <td>{{order.nomDestinatario}}</td>
              <td>{{order.numCel}}</td>
              <td>{{order.direccion}}</td>
              <td>{{order.distancia}}</td>
              <td>
                <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeFromArray(order)"><i
                  class="fa fa-trash-alt"></i>
                  Quitar
                </button>
              </td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>

      <!--ORDERS TABLE END-->
    </div>
    <!--CARD BLOCK ORDER TABLE END-->

    <!--CARD BLOCK PAYMENT OPTION START-->
    <div class="row" *ngIf="orders.length>0 && !loaders.loadingSubmit ">

      <div class="col-12">
        <p class="card-title"><strong>Forma de pago:</strong></p>
        <hr>
      </div>

      <div class="col-12">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" id="payNow" name="paymentMethod" [(ngModel)]="paymentMethod"
                   type="radio" [value]="1">
            <span><i class="fa fa-book"></i> Reservar <span
              class="badge badge-primary">L. {{pago.total | number: '2.2'}}</span> </span>
          </label>
        </div>

      </div>

    </div>
    <!--CARD BLOCK PAYMENT OPTION end-->

  </div>
  <!--CARD BODY END -->

  <div class="card-footer" *ngIf="!loaders.loadingSubmit">
    <button type="button" *ngIf="paymentMethod == 1 && orders.length>0"
            [disabled]="this.orders.length == 0 || !deliveryForm.get('deliveryHeader').valid"
            class="btn btn-sm btn-outline-primary" data-toggle="modal"
            data-target="#confirmModal">
      Registrar Reservación
    </button>
    <button type="button" *ngIf="paymentMethod == 2 && orders.length>0"
            disabled
            class="btn btn-sm btn-outline-primary">
      Registrar Reservación
    </button>
  </div>

  <!-- CARD END -->

  <!-- INICIO DE MODAL -->
  <div id="succsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Solicitud Xplore Delivery</h5>
        </div>
        <div class="modal-body">
          <p>{{this.exitMsg}}</p>
          <p><strong>Tu número de solicitud es: N° {{nDeliveryResponse}}</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="showNewDeliveryDetail(nDeliveryResponse)"
                  class="btn btn-sm btn-rounded btn-outline-primary"
                  data-dismiss="modal">Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN DE MODAL -->

  <!-- INICIO DE MODAL -->
  <div id="confirmModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar Reserva</h5>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de confirmar esta reserva?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-rounded btn-outline-primary" (click)="onFormSubmit()"
                  data-dismiss="modal">Confimar
          </button>
          <button type="button" class="btn btn-sm btn-rounded btn-outline-secondary" data-dismiss="modal">Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN DE MODAL -->


  <!-- INICIO DE MODAL -->
  <app-error-modal [msgError]="errorMsg"></app-error-modal>
  <!-- FIN DE MODAL -->
</div>
