<!--CARD START -->
<mat-card @fade>
  <mat-card-header>
    <mat-card-title>
      Todas las Reservaciones
    </mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <div class="row" *ngIf="loaders.loadingData">
      <div class="col text-center">
        <img src="assets/img/loading.svg" width="5%" alt="loading">
        <p>Cargando información...</p>
      </div>
    </div>

    <!-- DATATABLE START -->
    <app-data-table [deliveries]="3"  (loadingData)="setLoading($event)"></app-data-table>
    <!-- DATATABLE END -->
  </mat-card-content>
</mat-card>

<!-- CARD END -->
