<!--CARD START -->
<mat-card @fade>
  <mat-card-header>
    <mat-card-title>
      Todos los Envíos
    </mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <div class="row" *ngIf="loaders.loadingData">
      <div class="col text-center">
        <img src="assets/img/loading.svg" width="5%" alt="loading">
        <p>Cargando información...</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form [formGroup]="consultForm">
          <div class="form-row">
            <mat-form-field appearance="outline" class="col-md">
              <mat-label>Fecha Inicial:</mat-label>
              <input matInput type="date" formControlName="initDate" required>
              <mat-icon matPrefix>today</mat-icon>
              <mat-error>*Este campo es obligatorio</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md">
              <mat-label>Fecha Final:</mat-label>
              <input matInput type="date" formControlName="finDate" required>
              <mat-icon matPrefix>today</mat-icon>
              <mat-error>*Este campo es obligatorio</mat-error>
            </mat-form-field>

          </div>

          <div class="form-row">
            <button [disabled]="consultForm.invalid" type="button" mat-raised-button color="primary"
                    (click)="onConsultFormSubmit()" class="col-md mt-auto mb-auto">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </div>
    <hr>

    <!-- CONTAINER START -->
    <div class="table-responsive">
      <table id="dTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="display compact" style="width:100%">
        <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>
            <select class="form-control-sm" name="search-last-name">
              <option value="">- Filtrar por Estado -</option>
              <option *ngFor="let state of states" [value]="state.descEstado">{{state.descEstado}}</option>
              <option value="Solicitud de Reservación">Solicitud de Reservación</option>
            </select>
          </th>
          <th></th>
          <th></th>
        </tr>
        </tfoot>
        <thead>
        <tr>
          <th>N° Reserva</th>
          <th>N° Envío</th>
          <th>Cliente</th>
          <th>Fecha de Reserva</th>
          <th data-priority="1">Destinatario</th>
          <th>Celular del Destinatario</th>
          <th>Dirección</th>
          <!--<th>Detalle</th>
          <th>Distancia</th>
          <th>Recargo</th>
          <th>Cargos Extra</th>-->
          <th>Costo Total</th>
          <th>Estado</th>
          <!--<th>Observaciones</th>-->
          <th>Conductor</th>
          <th data-priority="1">Acción</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor=" let i = index;let order of orders;">
          <td>{{order.idDelivery}}</td>
          <td>{{order.idDetalle}}</td>
          <td>{{order.delivery.nomCliente}}</td>
          <td>{{order.delivery.fechaReserva}}</td>
          <td>{{order.nomDestinatario}}</td>
          <td>{{order.numCel}}</td>
          <td>{{order.direccion}}</td>
          <!--<td>{{order.nFactura}}</td>
          <td>{{order.distancia}}</td>
          <td>L. {{order.recargo}}</td>
          <td>L. {{order.cargosExtra}} {{order?.extra_charge?.nombre || ''}}</td>-->
          <td>L. {{order.cTotal}}</td>
          <td>{{order.estado.descEstado}} <p *ngIf="order.estado.idEstado == 44">Fecha: {{order.fechaEntrega}}</p></td>
          <!--<td>{{order.observaciones || 'N/A'}}</td>-->
          <td><p *ngIf="order.conductor">{{order.conductor.nomUsuario + ' - ' + order?.conductor?.numCelular}}</p>
            <p *ngIf="!order.conductor">Aún no asignada</p>
          </td>
          <td>
            <button class="float-right" mat-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngIf="order.photography.length > 0" type="button"
                      (click)="openPhotosDialog(order.photography)">
                <mat-icon>photo_camera</mat-icon>
                <span>Ver Fotografías</span>
              </button>

              <button mat-menu-item type="button" (click)="showDetailDialog(order)">
                <mat-icon>visibility</mat-icon>
                Ver Detalles
              </button>
            </mat-menu>
          </td>
          <!--
          <td *ngIf="currUser.idPerfil === '1'">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button *ngIf="order.estado.idEstado !== 44" mat-menu-item
                      (click)="showChangeStateDialog(order)">
                <mat-icon>tune</mat-icon>
                <span>Cambiar Estado</span>
              </button>
              <button *ngIf="order.estado.idEstado == 34" mat-menu-item
                      (click)="showAssignDriverDialog(order)">
                <mat-icon>assignment_ind</mat-icon>
                <span>Asignar Conductor</span>
              </button>
              <button mat-menu-item (click)="showAddExtrachargeDialog(order)" >
                <mat-icon>attach_money</mat-icon>
                <span>Agregar Cargo Extra</span>
              </button>
              <button mat-menu-item *ngIf="order.photography.length > 0"  type="button" (click)="openPhotosDialog(order.photography)">
                <mat-icon>photo_camera</mat-icon>
                <span>Ver Fotografías</span>
              </button>
            </mat-menu>
          </td>-->
        </tr>
        </tbody>
      </table>

    </div>

    <!-- DATATABLE END -->
  </mat-card-content>
</mat-card>

<!-- CARD END -->



