<!--CARD START -->
<div @fade class="card shadow-sm">
  <div class="card-header">
    <h3>Envíos del día</h3>
  </div>
  <!-- CARD BODY START -->
  <div class="card-body p-0">
    <div class="row" *ngIf="loaders.loadingData">
      <div class="col text-center">
        <img src="/GestionesDelivery/assets/img/loading.svg" width="5%" alt="loading">
        <p>Cargando información...</p>
      </div>
    </div>
    <!-- DATATABLE START -->
    <app-orders-data-table [orders]="orders" [dtTrigger]="dtTrigger"></app-orders-data-table>
    <!-- DATATABLE END -->
  </div>
  <!--CARD BODY END -->

</div>
<!-- CARD END -->

<!-- MODAL START -->
<app-error-modal [msgError]="msgError"></app-error-modal>
<!-- MODAL END -->

