<!--CARD START -->
<div @fade class="card shadow-sm">
  <div class="card-header">
    <h3>Pedidos del día</h3>
  </div>
  <!-- CARD BODY START -->
  <div class="card-body p-0">
    <div class="row" *ngIf="loaders.loadingData">
      <div class="col text-center">
        <img src="/GestionesDelivery/assets/img/loading.svg" width="5%" alt="loading">
        <p>Cargando información...</p>
      </div>
    </div>
    <!-- DATATABLE START -->
    <!-- CONTAINER START -->
    <div class="ibox">
      <div class="ibox-title">
        <h5>Listado de Pedidos</h5>
      </div>
      <!-- CONTAINER BODY START -->
      <div class="ibox-content">
        <div class="table-responsive">
          <table id="dTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                 class="display table table-hover table-striped" style="width:100%">
            <thead>
            <tr>
              <th>N°</th>
              <th>Dirección de entrega</th>
              <th>Distancia</th>
              <th>Estado</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let order of orders">
              <td class="id">{{order.idDetalle}}</td>
              <td>{{order.direccion}}</td>
              <td class="fId">{{order.distancia}}</td>
              <td>{{order.estado.descEstado}}</td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
    <!-- DATATABLE END -->
  </div>
  <!--CARD BODY END -->

</div>
<!-- CARD END -->

