<!-- MODAL START -->
<h2 mat-dialog-title class="text-danger">
  ¡Atención!
  <button mat-button class="close-icon float-right" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content>
  <p>
    Hola <strong>{{customer.nomRepresentante}}</strong>, informamos que tienes un balance abierto de <strong>L. {{balance}}</strong>.
    Te solicitamos poner tu cuenta al día o solicitar una ampliación de tu crédito para continuar gozando de nuestro servicio.
  </p>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close=true>
    Aceptar
  </button>
</mat-dialog-actions>

<!-- MODAL END -->
