<!-- MODAL START -->
<h2 mat-dialog-title class="text-danger">
    ¡Atención!
</h2>
<mat-dialog-content>
    <p>
        Te notificamos que tu cuenta posee un saldo pendiente mayor al permitido. Favor contáctanos al <a href="tel:94397234">9439-7234</a>  para
        realizar tu pago o incrementar el monto de tolerancia para evitar la suspensión nuestros servicios. 
    </p>
    <p>
        Saldo Pendiente: L. {{balance}}
    </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close=true>
        Aceptar
    </button>
</mat-dialog-actions>

<!-- MODAL END -->