<!-- MODAL START -->
<h2 mat-dialog-title class="text-info">
  <i class="fa fa-edit"></i> Editar Dirección
</h2>
<mat-dialog-content>
  <div class="row" *ngIf="loaders.loadingSubmit">
    <div class="col text-center">
      <img src="assets/img/loading.svg" width="35%" alt="loading">
      <p>Procesando Información...</p>
    </div>
  </div>

  <form [formGroup]="edBranchForm" *ngIf="!loaders.loadingSubmit">
    <div class="form-row">
      <mat-form-field appearance="outline" class="col-md">
        <mat-label>Nombre de Dirección:</mat-label>
        <input matInput type="text" formControlName="nomSucursal" required
               placeholder="Nombre de la Dirección" maxlength="80">
        <mat-icon matSuffix>business</mat-icon>
        <mat-error>*Este campo es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md">
        <mat-label>Número de Teléfono:</mat-label>
        <input matInput appPhoneMask type="tel" formControlName="numTelefono"
               placeholder="Número celular sin espacios" minlength="9" maxlength="9">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error *ngIf="edBranchForm.get('numTelefono').errors?.maxlength">
          *Por favor ingrese un número válido
        </mat-error>
        <mat-error *ngIf="edBranchForm.get('numTelefono').errors?.minlength">
          *Por favor ingrese un número válido
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Direccion:</mat-label>
        <input matInput (input)="searchAddress($event)" id="direccion" required
               formControlName="direccion" [matAutocomplete]="auto" autocomplete="nope"
               placeholder="¿Cuál es la dirección?">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let s of places" [value]="s.text">
            {{ s.text }}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>location_on</mat-icon>
        <mat-error>*Este campo es obligatorio</mat-error>
        <mat-hint>
          <a href="javascript:void(0);" (click)="gcords=true">
            Ingresar Geocordenadas
          </a>
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" *ngIf="gcords">
        <input #branchCords matInput type="text" placeholder="Ej. 10.1508684, -87.61982"
               (paste)="$event.preventDefault()">
        <button mat-button mat-icon-button (click)="setCords()" matSuffix>
          <mat-icon>done</mat-icon>
        </button>
      </mat-form-field>

      <mat-checkbox #checkbox (change)="setCurrentLocation(!checkbox.checked)">
        Ubicación actual
      </mat-checkbox>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [disabled]="edBranchForm.invalid || loaders.loadingSubmit" (click)="submitEditBranch()"
          color="primary">
    Confirmar
  </button>
  <button mat-raised-button mat-dialog-close>
    Cancelar
  </button>

</mat-dialog-actions>
<!-- MODAL END -->




