<mat-radio-button
  *ngFor="let category of categories; let i = index"
  (click)="setSelectedCategoryFun(category)"
  [id]="category?.idCategoria"
  [value]="category.idCategoria"
  disableRipple="true"
  class="cat-rb"
  [ngStyle]="{
    color:
      category?.idCategoria === newForm.get('idCategoria').value
        ? '#FF8C00'
        : '#000'
  }"
>
  <span
    class="fa d-block text-center"
    style="font-size: 24px"
    [ngClass]="category.icono"
  ></span>
  <span class="d-block text-center">{{ category.descCategoria }} </span>
</mat-radio-button>
