<mat-radio-button
  [id]="category?.idCategoria"
  [value]="category.idCategoria"
  disableRipple="true"
  (click)="setSelectedCategoryFun(category)"
  *ngFor="let category of categories; let i = index"
  [ngStyle]="{
    color:
      category?.idCategoria === newForm.get('deliveryHeader.idCategoria').value
        ? '#FF8C00'
        : '#000'
  }"
  class="cat-rb"
>
  <span
    class="fa d-block text-center"
    style="font-size: 24px"
    [ngClass]="category.icono"
  ></span>
  {{ category.descCategoria }}
</mat-radio-button>
