<!--CARD START -->
<mat-card @fade>
  <mat-card-header>
    <mat-card-title>
      Parametrización de Tarifas
    </mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <div class="row" *ngIf="loaders.loadingData">
      <div class="col text-center">
        <img src="assets/img/loading.svg" width="5%" alt="loading">
        <p>Cargando información...</p>
      </div>
    </div>

    <!-- CONTAINER START -->

    <div class="row justify-content-end">
      <div class="col">
        <button mat-raised-button (click)="showNewForm()" type="button" color="primary" class="float-right mb-2">
          <i class="fa fa-plus"></i>
          Agregar Tarifa
        </button>
      </div>
    </div>
    <!-- CONTAINER BODY START -->

    <div class="table-responsive">
      <table id="dTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="display compact" style="width:100%">
        <thead>
        <tr>
          <th>N°</th>
          <th>Descripción de Tarifa</th>
          <th>Categoría</th>
          <th>Entregas Mínimas</th>
          <th>Entregas Máximas</th>
          <th>Monto</th>
          <th>Tipo de Tarifa</th>
          <th data-priority="1">Clientes</th>
          <th data-priority="1">Configuración Consolidada</th>
          <th data-priority="1">Acción</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let rate of rates">
          <td>{{rate.idTarifaDelivery}}</td>
          <td>{{rate.descTarifa}}</td>
          <td>{{rate.category.descCategoria}}</td>
          <td>{{rate.entregasMinimas}}</td>
          <td>{{rate.entregasMaximas}}</td>
          <td>L. {{rate.precio}}</td>
          <td>{{rate.rate_type.descTipoTarifa}}</td>
          <td>
            <a (click)="showRateCustomers(rate.idTarifaDelivery)" style="color: #0071A2">
              <i class="fa fa-eye"></i> Ver Clientes
            </a>
          </td>
          <td>
            <a  (click)="showRateDetail(rate.consolidated_detail, rate.schedules)" *ngIf="rate.idTipoTarifa == 2"  style="color: #0071A2">
              <i class="fa fa-sliders-h"></i> Configuraciones
            </a>
            <p *ngIf="rate.idTipoTarifa != 2">N/A</p>
          </td>
          <td>
            <a (click)="showEditForm(rate.idTarifaDelivery)" style="color: #0071A2">
              <i class="fa fa-edit"></i> Editar
            </a>
          </td>

        </tr>
        </tbody>

      </table>
    </div>
    <!-- CONTAINER END -->
  </mat-card-content>
</mat-card>

<!-- CARD END -->




