<!-- CARD START -->
<!--CARD START -->
<mat-card @fade>
  <mat-card-header>
    <mat-card-title>
      Parametrización de Recargos
    </mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <div class="row" *ngIf="loaders.loadingData">
      <div class="col text-center">
        <img src="assets/img/loading.svg" width="5%" alt="loading">
        <p>Cargando información...</p>
      </div>
    </div>

    <!-- CONTAINER START -->

    <div class="row justify-content-end">
      <div class="col">
        <button mat-raised-button (click)="showNewForm()" type="button" color="primary" class="float-right mb-2">
          <i class="fa fa-plus"></i>
          Agregar Recargo
        </button>
      </div>

    </div>
    <!-- CONTAINER BODY START -->

    <div class="table-responsive">
      <table id="dTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="display compact" style="width:100%">
        <thead>
        <tr>
          <th>N°</th>
          <th>Descripción de Recargo</th>
          <th>Kilometraje Mínimo</th>
          <th>Kilometraje Máximo</th>
          <th>Monto</th>
          <th>Cliente Asignado</th>
          <th data-priority="1">Acción</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let surcharge of surcharges">
          <td>{{surcharge.idRecargo}}</td>
          <td>{{surcharge.descRecargo}}</td>
          <td>{{surcharge.kilomMinimo}}</td>
          <td>{{surcharge.kilomMaximo}}</td>
          <td>L. {{surcharge.monto}}</td>
          <td>{{surcharge.cliente.nomEmpresa}}</td>
          <td>
            <a (click)="showEditForm(surcharge.idRecargo)" style="color: #0071A2">
              <i class="fa fa-edit"></i> Editar
            </a>
          </td>

        </tr>
        </tbody>

      </table>
    </div>

    <!-- CONTAINER END -->
  </mat-card-content>
</mat-card>

<!-- CARD END -->





