<!-- INICIO DE CONTENEDOR -->
<div @fade class="mt-5 col-md-4 offset-lg-4 offset-md-3 offset-sm-2">

  <!-- INICIO DE CARD -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Recuperación de Contraseña
      </mat-card-title>
    </mat-card-header>

    <!-- INICIO DE CONTENIDO DEL CARD -->
    <mat-card-content>
      <!-- INICIO FORMULARIO LOGIN -->
      <form [formGroup]="passRecForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>e-mail:</mat-label>
          <input id="email" formControlName="email" placeholder="Ingrese su correo eletrónico"
                 required matInput maxlength="50">
          <mat-icon matSuffix>alternate_email</mat-icon>
          <mat-error *ngIf="f.email.errors?.required">
            *Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="f.email.errors?.pattern">
            *Por favor ingrese un email válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Número de identificación:</mat-label>
          <input id="numIdentificacion" formControlName="numIdentificacion" required
                 placeholder="Ingrese su número de identificación ó RTN" matInput>
          <mat-icon matSuffix>subtitles</mat-icon>
          <mat-error *ngIf="f.numIdentificacion.errors?.required">
            *Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="f.numIdentificacion.errors?.maxlength">
            *Por favor ingrese el número de identificación sin espacios ni guiones
          </mat-error>
          <mat-error *ngIf="f.numIdentificacion.errors?.minlength">
            *Por favor ingrese el número de identificación sin espacios ni guiones
          </mat-error>
        </mat-form-field>

        <div class="form-group text-center">
          <button mat-raised-button [disabled]="loading || passRecForm.invalid" color="primary" style="width:100%">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 "></span>
            Recuperar Contraseña
          </button>
        </div>


      </form>
      <!-- FIN FORMULARIO LOGIN -->

    </mat-card-content>
    <!-- FIN DE CONTENIDO DEL CARD -->

  </mat-card>
  <!-- FIN DE CARD -->

</div>
<!-- FIN DE CONTENEDOR -->


