<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Xplore Delivery</h3>
    </div>
    <!-- ONLY XPLORE USER -->
    <ul class="list-unstyled components" *ngIf="currentUser && currentUser.idPerfil === '1'">
      <li>
        <a class="list-group-item dropdown-toggle" (click)="showLogout()">
          <i class="fa fa-user"></i>
          {{currentUser.nomUsuario}}
        </a>
      </li>

      <li>
        <a href="javascript:void(0)" id="logout" class="list-group-item d-none userSubMenu" (click)="logout()">
          <i class="fa fa-power-off ml-3"></i> Cerrar Sesión
        </a>
      </li>

      <li>
        <a (click)="goHome()" class="list-group-item">
          <i class="fa fa-calendar-check"></i>
          <span> Reservas del día</span> </a>
      </li>

      <li>
        <a  (click)="showTomorrowRequest()" class="list-group-item">
          <i class="fa fa-calendar-alt"></i> Reservas para Mañana
        </a>
      </li>

      <li>
        <a (click)="showAllRequest()" class="list-group-item">
          <i class="fa fa-list-alt"></i> Todas las Reservas
        </a>
      </li>

      <li>
        <a href="javascript:void(0)" (click)="showTodayOrders()" class="list-group-item">
          <i class="fa fa-calendar-check"></i>
          <span> Envíos del Día</span> </a>
      </li>

      <li>
        <a href="javascript:void(0)" (click)="showAllOrders()" class="list-group-item">
          <i class="fa fa-list-alt"></i> Todos los Envíos
        </a>
      </li>


      <li>
        <a (click)="showCustomersSubMenu()"  class="list-group-item dropdown-toggle" >
          <i class="fa fa-user-friends"></i> Clientes
        </a>
      </li>

      <li>
        <a  (click)="showCustomersView()" class="list-group-item d-none customerSubMenu">
          <i class="fa fa-user-friends ml-3"></i> Ver clientes
        </a>
      </li>

      <li>
        <a  (click)="addCustomer()" class="list-group-item d-none customerSubMenu">
          <i class="fa fa-user-plus ml-3"></i> Agregar Clientes
        </a>
      </li>

      <li>
        <a (click)="showConfSubMenu()"  class="list-group-item dropdown-toggle" >
          <i class="fa fa-cog"></i> Configuraciones
        </a>
      </li>

      <li>
        <a  (click)="showCategoriesParametrization()" class="list-group-item d-none confSubMenu">
          <i class="fa fa-list ml-3"></i> Categorías
        </a>
      </li>

      <li>
        <a  (click)="showRatesPArametrization()" class="list-group-item d-none confSubMenu">
          <i class="fa fa-dollar-sign ml-3"></i> Tarifas
        </a>
      </li>

      <li>
        <a  (click)="showSurchargesParametrization()" class="list-group-item d-none confSubMenu">
          <i class="fa fa-dollar-sign ml-3"></i> Recargos
        </a>
      </li>


    </ul>
    <!-- /ONLY XPLORE USER -->

    <!-- ONLY CUSTOMER USER -->
    <ul class="list-unstyled components" *ngIf="currentUser && currentUser.idPerfil === '8'">
      <li>
        <a class="list-group-item dropdown-toggle" (click)="showLogoutCustomer()">
          <i class="fa fa-user"></i>
          {{currentUser.nomUsuario}}
        </a>
      </li>

      <li>
        <a href="javascript:void(0)" id="profile" class="list-group-item d-none userSubMenu" (click)="showCustomerProfile()">
          <i class="fa fa-user-cog ml-3"></i> Perfil
        </a>
      </li>

      <li>
        <a href="javascript:void(0)" id="logoutCustomer" class="list-group-item d-none userSubMenu" (click)="logout()">
          <i class="fa fa-power-off ml-3"></i> Cerrar Sesión
        </a>
      </li>

      <li>
        <a href="javascript:void(0)" (click)="addDeliveryCustomer()" class="list-group-item">
          <i class="fa fa-plus"></i> Agregar Delivery
        </a>
      </li>

      <li>
        <a href="javascript:void(0)" (click)="showCustomerTodayOrders()" class="list-group-item">
          <i class="fa fa-calendar-check"></i>
          <span> Mis Envíos del Día</span> </a>
      </li>

      <li>
        <a href="javascript:void(0)" (click)="showCustomerAllOrders()" class="list-group-item">
          <i class="fa fa-list-alt"></i> Todos Mis Envíos
        </a>
      </li>

      <li>
        <a href="javascript:void(0)" (click)="showCustomerTodayDeliveries()" class="list-group-item">
          <i class="fa fa-calendar-check"></i> Mis Reservas del Día
        </a>
      </li>

      <li>
        <a href="javascript:void(0)" (click)="showAllCustomersRequest()" class="list-group-item">
          <i class="fa fa-list-alt"></i> Todas Mis Reservas
        </a>
      </li>

      <li>
        <a href="javascript:void(0)" (click)="showCustomerBranchSubMenu()" class="list-group-item dropdown-toggle">
          <i class="fa fa-map-marker"></i> Mis Direcciones
        </a>
      </li>

      <li>
        <a href="javascript:void(0)" (click)="showCustomerBranchOffices()" class="list-group-item d-none branchSubMenu">
          <i class="fa fa-list-alt ml-3"></i> Lista
        </a>
      </li>

      <li>
        <a href="javascript:void(0)" (click)="showCustomerNewBranchOffices()" class="list-group-item d-none branchSubMenu">
          <i class="fa fa-plus ml-3"></i> Agregar Dirección
        </a>
      </li>

    </ul>
    <!-- /ONLY CUSTOMER USER -->
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark xplore-bg">
      <div class="container-fluid">
        <div class="navbar-header">
          <button (click)="toggleSidebar()" type="button" class="btn d-lg-none btn-sm xplore-bg border ">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a [routerLink]="['/']">
            <img alt="image" height="50px" class="d-inline-block" src="assets/img/logo-xplore.png"></a>
        </div>
      </div>
    </nav>
    <div class="container-fluid" id="main">
      <router-outlet></router-outlet>
    </div>

    <footer class="mt-5">
      <p class="text-center">© Copyright 2020 <strong>ALCARSA - Xplore Rent a Car</strong> | Todos los derechos
        reservados</p>
    </footer>
  </div>
</div>
