<div class="wrapper ">

    <!--sidebar start -->
    <nav class="bg-light" id="sidebar">

      <div class="sidebar-header xplore-bg">
        <a class="navbar-brand text-white" href="https://xplorerentacar.com">
          Xplore Delivery
        </a>

      </div>
      <ul class="list-unstyled components" *ngIf="currentUser">
        <li>
          <a class="list-group-item dropdown-toggle" (click)="showLogout()">
            <i class="fa fa-user"></i>
            {{currentUser.nomUsuario}}
          </a>

        </li>
        <li>
          <a href="#" id="logout" class="list-group-item d-none " (click)="logout()">
            <i class="fa fa-power-off ml-3"></i> Cerrar Sesión
          </a>
        </li>
        <li>
          <a (click)="goHome()" class="list-group-item">
            <i class="fa fa-home"></i>
            <span> Inicio</span> </a>
        </li>
        <li>
          <a (click)="showAllRequest()" class="list-group-item">
            <i class="fa fa-list-alt"></i> Todas las Reservaciones
          </a>
        </li>
        <!--<li>
          <a [routerLink]="['/']" class="list-group-item">
            <i class="fa fa-calendar-day"></i> Reservaciones del día
          </a>
        </li>-->
        <li>
          <a (click)="showTomorrow()" class="list-group-item">
            <i class="fa fa-calendar-alt"></i> Reservaciones para mañana
          </a>
        </li>

      </ul>

    </nav>
    <!--sidebar end -->

  <div id="content">

      <nav  class="navbar navbar-dark navbar-expand-lg xplore-bg">
        <div  class="container-fluid">
          <div  class="navbar-header">
            <button (click)="toggleSidebar()" type="button" class="btn btn-sm xplore-bg border">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a  href="https://xplorerentacar.com" class="navbar-brand">
              <img alt="image" height="66px" src="assets/img/logo-xplore.png"></a>
          </div>
        </div>
      </nav>

    <div class="container-fluid mt-5 mb-5">
      <router-outlet></router-outlet>
    </div>
    <p class="text-center">© Copyright 2020 <strong>ALCARSA - Xplore Rent a Car</strong> | Todos los derechos reservados</p>
  </div>
</div>
