<!-- NAVBAR START -->
<mat-toolbar
  *ngIf="
    !currentUser &&
    currentRoute != '/shuttle' &&
    currentRoute != '/GestionesDelivery/shuttle'
  "
  class="app-toolbar-alternative p-1"
  color="primary"
>
  <mat-toolbar-row>
    <a [routerLink]="['/']" class="mx-auto">
      <img alt="image" height="70px" src="assets/img/logo-delivery.png" />
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar
  *ngIf="
    currentUser &&
    currentRoute != '/shuttle' &&
    currentRoute != '/GestionesDelivery/shuttle'
  "
  class="app-toolbar"
  color="primary"
>
  <mat-toolbar-row>
    <a mat-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </a>
    <a [routerLink]="['/']">
      <img
        alt="image"
        height="50px"
        class="d-inline-block"
        src="assets/img/logo-delivery.png"
      />
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar
  *ngIf="
    (!currentUser && currentRoute == '/shuttle') ||
    (!currentUser && currentRoute == '/GestionesDelivery/shuttle')
  "
  class="app-toolbar-alternative p-1"
  color="primary"
>
  <mat-toolbar-row>
    <a [routerLink]="['/']" class="mx-auto">
      <img alt="image" height="40px" src="assets/img/logo-shuttle.png" />
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar
  *ngIf="
    (currentUser && currentRoute == '/shuttle') ||
    (currentUser && currentRoute == '/GestionesDelivery/shuttle')
  "
  class="app-toolbar"
  color="primary"
>
  <mat-toolbar-row>
    <a mat-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </a>
    <a [routerLink]="['/']">
      <img
        alt="image"
        height="40px"
        class="d-inline-block"
        src="assets/img/logo-shuttle.png"
      />
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<!-- NAVBAR END -->
<!-- -->
<mat-sidenav-container style="min-height: 100vh">
  <mat-sidenav #sidenav mode="over">
    <!-- ADMIN MENU -->
    <app-admin-menu
      *ngIf="
        (currentUser && currentUser.idPerfil === '1') ||
        (currentUser && currentUser.idPerfil === '9')
      "
      [currentUser]="currentUser"
      (showLogout)="showLogout()"
      (logout)="logout()"
      (showConfSubMenu)="showConfSubMenu()"
      (showReportSubMenu)="showReportsSubMenu()"
      [sidenav]="sidenav"
    >
    </app-admin-menu>
    <!-- ADMIN MENU -->

    <!-- ONLY CUSTOMERS -->
    <app-customer-menu
      *ngIf="currentUser && currentUser.idPerfil === '8'"
      [currentUser]="currentUser"
      (showLogoutCustomer)="showLogoutCustomer()"
      (logout)="logout()"
      (showCustomerAddDeliverySubMenu)="showCustomerAddDeliverySubMenu()"
      (showCustomerConfigSubMenu)="showCustomerConfigSubMenu()"
      (showCustomerDeliveriesSubMenu)="showCustomerDeliveriesSubMenu()"
      [sidenav]="sidenav"
    >
    </app-customer-menu>
    <!-- ONLY CUSTOMERS -->

    <!-- ONLY CUSTOMERS -->
    <mat-nav-list *ngIf="currentUser && currentUser.idPerfil === '12'">
      <a
        href="javascript:void(0);"
        mat-list-item
        (click)="showLogoutCustomer()"
      >
        <mat-icon>account_circle</mat-icon>
        {{ currentUser.nomUsuario }}
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </a>

      <mat-nav-list class="d-none userSubMenu">
        <a
          href="javascript:void(0)"
          class="ml-3"
          mat-list-item
          (click)="logout()"
        >
          <mat-icon>exit_to_app</mat-icon>
          Cerrar sesión
        </a>
      </mat-nav-list>

      <a
        (click)="sidenav.close()"
        [routerLink]="['customers/dashboard']"
        mat-list-item
      >
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>

      <a
        (click)="sidenav.close()"
        [routerLink]="['customers/envios-hoy']"
        mat-list-item
      >
        <mat-icon>today</mat-icon>
        Mis envíos del día
      </a>

      <a
        (click)="sidenav.close()"
        [routerLink]="['customers/envios-todos']"
        mat-list-item
      >
        <mat-icon>list</mat-icon>
        Todos mis envíos
      </a>

      <a
        (click)="sidenav.close()"
        [routerLink]="['customers/reservas-hoy']"
        mat-list-item
      >
        <mat-icon>event</mat-icon>
        Mis reservas del día
      </a>

      <a
        (click)="sidenav.close()"
        [routerLink]="['customers/reservas-todos']"
        mat-list-item
      >
        <mat-icon>list</mat-icon>
        Todas mis reservas
      </a>
    </mat-nav-list>
    <!-- ONLY CUSTOMERS -->
  </mat-sidenav>
  <mat-sidenav-content
    [ngClass]="{
      'mt-3':
        currentUser &&
        currentRoute != '/shuttle' &&
        currentRoute != '/GestionesDelivery/shuttle',
      'mt-0': !currentUser
    }"
  >
    <!-- <div class="row text-center" *ngIf="isMobile && !currentUser">
      <img width="100%" src="assets/img/Web-1_resized.jpg" alt="cargando imagen...">
    </div>
    <br *ngIf="!currentUser"> -->
    <br
      *ngIf="
        !currentUser &&
        currentRoute != '/shuttle' &&
        currentRoute != '/GestionesDelivery/shuttle'
      "
    />
    <div
      [ngClass]="{
        'mx-3':
          currentRoute != '/shuttle' &&
          currentRoute != '/GestionesDelivery/shuttle'
      }"
      #mainContainer
    >
      <router-outlet></router-outlet>
    </div>
    <footer class="mt-5 mb-3">
      <p class="text-center">
        © Copyright 2020 <strong>ALCARSA - Xplore Rent a Car</strong> | Todos
        los derechos reservados
      </p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- -->
