<!-- CARD START -->
<div @fade class="card shadow">

  <div class="card-header">
    <h3>Nuevo Cliente</h3>

  </div>

  <div class="card-body" *ngIf="loaders.loadingSubmit">
    <div class="row">
      <div class="col text-center">
        <img src="/GestionesDelivery/assets/img/loading.svg" width="35%" alt="loading">
        <p>Cargando información...</p>
      </div>
    </div>
  </div>
  <!-- CARD BODY START -->
  <div class="card-body" *ngIf="!loaders.loadingSubmit">
    <p class="card-title"><strong *ngIf="!loaders.loadingSubmit">Ingrese los datos del cliente en el siguiente
      formulario</strong>
      <strong *ngIf="loaders.loadingSubmit">Espere mientras procesamos su información, no cierre esta ventana.</strong>
    </p>
    <hr>
    <form [formGroup]="nCustomerForm">
      <div class="form-row">
        <div class="col-sm">
          <label class="col-form-label" for="nomEmpresa">Nombre de Empresa:</label>
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-building"></i>
                </span>
            </div>
            <input class="form-control" id="nomEmpresa" type="text" formControlName="nomEmpresa" required
                   placeholder="Nombre de la empresa"
                   [class.is-invalid]="f.nomEmpresa.invalid && f.nomEmpresa.touched">
          </div>
          <small
            *ngIf="f.nomEmpresa.errors?.required && f.nomEmpresa.touched"
            class="text-danger">*Este campo es obligatorio</small>
        </div>

        <div class="col-sm">
          <label class="col-form-label" for="nomRepresentante">Nombre del Representante:</label>
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-id-card"></i>
                </span>
            </div>
            <input class="form-control" id="nomRepresentante" type="text" formControlName="nomRepresentante" required
                   placeholder="Nombre del representante"
                   [class.is-invalid]="f.nomRepresentante.invalid && f.nomRepresentante.touched">
          </div>
          <small
            *ngIf="f.nomRepresentante.errors?.required && f.nomRepresentante.touched"
            class="text-danger">*Este campo es obligatorio</small>
        </div>

        <div class="col-sm">
          <label class="col-form-label" for="numIdentificacion">Número de Identificación:</label>
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-id-card"></i>
                </span>
            </div>
            <input class="form-control" id="numIdentificacion" type="text" formControlName="numIdentificacion"
                   minlength="13" maxlength="14"
                   [class.is-invalid]="f.numIdentificacion.invalid && f.numIdentificacion.touched"
                   placeholder="Número de identificación">
          </div>
          <small
            *ngIf="f.numIdentificacion.errors?.required && f.numIdentificacion.touched"
            class="text-danger">*Este campo es obligatorio</small>
          <small
            *ngIf="f.numIdentificacion.errors?.maxlength && f.numIdentificacion.touched"
            class="text-danger">*Por favor ingrese el número de identificación sin espacios ni guiones</small>
          <small
            *ngIf="f.numIdentificacion.errors?.minlength && f.numIdentificacion.touched"
            class="text-danger">*Por favor ingrese el número de identificación sin espacios ni guiones</small>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md">
          <label class="col-form-label" for="numTelefono">Número de Teléfono:</label>
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-phone-alt"></i>
                </span>
            </div>
            <input appPhoneMask class="form-control" id="numTelefono" type="tel" formControlName="numTelefono"
                   required placeholder="Número celular sin espacios" minlength="9" maxlength="9"
                   [class.is-invalid]="f.numTelefono.invalid && f.numTelefono.touched">
          </div>
          <small
            *ngIf="f.numTelefono.errors?.required && f.numTelefono.touched"
            class="text-danger">*Este campo es obligatorio</small>
          <small
            *ngIf="f.numTelefono.errors?.maxlength && f.numTelefono.touched"
            class="text-danger">*Por favor ingrese un número válido</small>
          <small
            *ngIf="f.numTelefono.errors?.minlength && f.numTelefono.touched"
            class="text-danger">*Por favor ingrese un número válido</small>
        </div>
        <div class="col-md">
          <label class="col-form-label" for="email">email:</label>
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-at"></i>
                </span>
            </div>
            <input class="form-control" id="email" type="email" formControlName="email" required
                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="ejemplo@email.com"
                   [class.is-invalid]="f.email.invalid && f.email.touched">
          </div>
          <small
            *ngIf="f.email.errors?.required && f.email.touched"
            class="text-danger">*Este campo es obligatorio</small>
          <small
            *ngIf="f.email.errors?.pattern && f.email.touched"
            class="text-danger">*Por favor ingrese un email válido</small>
        </div>

      </div>

    </form>

  </div>
  <!-- CARD BODY END -->
  <div class="card-footer">
    <button [disabled]="nCustomerForm.invalid" (click)="onFormSubmit()" class="btn btn-sm btn-outline-primary mr-2">
      <i class="fa fa-save"></i> Guardar
    </button>
    <button (click)="clearForm()" class="btn btn-sm btn-outline-secondary">
      <i class="fa fa-times-circle"></i> Cancelar
    </button>
  </div>
</div>
<!-- CARD END -->


<!-- MODAL START -->
<div id="errModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-danger">Ha ocurrido un error</h3>
      </div>
      <div class="modal-body">
        <p>{{errorMsg}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm btn-rounded" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL END -->

<!-- MODAL START -->
<div id="succsModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-success">Operación realizada correctamente</h3>
      </div>
      <div class="modal-body">
        <p>{{succsMsg}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="reloadPage()" class="btn btn-sm btn-rounded btn-outline-primary"
                data-dismiss="modal">Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL END -->


