<!-- MODAL START -->
<h2 mat-dialog-title class="text-info">
  <i class="fa fa-edit"></i> Cambiar Hora de Reserva
</h2>
<mat-dialog-content>


  <div class="row" *ngIf="loaders.loadingSubmit">
    <div class="col text-center">
      <img src="assets/img/loading.svg" width="35%" alt="loading">
      <p>Procesando información...</p>
    </div>
  </div>

  <form [formGroup]="changeForm" *ngIf="!loaders.loadingSubmit">
    <div class="form-row">
      <mat-form-field appearance="outline" floatLabel="always" class="col-md">
        <mat-label>Hora de recogida:</mat-label>
        <input formControlName="hora" type="time" id="hora" required
               matInput>
        <mat-hint>Horario: 7:00 a.m - 5:00 p.m</mat-hint>
        <mat-error *ngIf="f.hora?.errors?.required">
          *Este campo es obligatorio
        </mat-error>
        <mat-error *ngIf="f.hora?.errors?.mustAfterHour">
          *Ups! Parece que esa hora no es válida
        </mat-error>
      </mat-form-field>
    </div>


  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" mat-raised-button [disabled]="changeForm.invalid || loaders.loadingSubmit" (click)="onEditFormSubmit()" color="primary">Cambiar
  </button>
  <button type="button" mat-raised-button mat-dialog-close>Cancelar</button>

</mat-dialog-actions>

<!-- MODAL END -->
