<!-- MODAL START -->
<h2 mat-dialog-title class="text-primary">
  Asignar Auxiliar de Envío
</h2>
<mat-dialog-content>

  <div class="row" *ngIf="loaders.loadingData">
    <div class="col text-center">
      <img src="../../../../assets/img/loading.svg" width="35%" alt="loading">
      <p>Cargando información...</p>
    </div>
  </div>

  <form [formGroup]="asignForm" *ngIf="!loaders.loadingData">
    <mat-form-field appearance="outline">
      <mat-label>Auxiliar:</mat-label>
      <mat-select formControlName="idAuxiliar">
        <mat-option [value]="null">-Seleccione un conductor Auxiliar-</mat-option>
        <mat-option *ngFor="let conductor of conductores" value="{{conductor.idUsuario}}">
          {{conductor?.nomUsuario}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" mat-raised-button [disabled]="asignForm.invalid" (click)="assignOrder()" color="primary"
          [mat-dialog-close]="false">
    Asignar
  </button>
  <button mat-raised-button mat-dialog-close>
    Cancelar
  </button>
</mat-dialog-actions>

<!-- MODAL END -->


