<!-- CARD START -->
<div class="card shadow-sm ">
  <div class="card-header">
    <a [routerLink]="['/']"> <i class="fa fa-arrow-circle-left m-r-xs"></i></a>
    <h3 class="d-inline">Reservaciones para mañana</h3>
  </div>
  <!--  CARD BODY START-->
  <div class="card-body p-0">
    <div class="row" *ngIf="loaders.loadingData">
      <div class="col text-center">
        <img src="assets/img/loading.svg" width="5%" alt="loading">
        <p>Cargando información...</p>
      </div>
    </div>
    <!-- DATATABLE START -->
    <app-data-table [deliveries]="deliveries" [dtTrigger]="dtTrigger"></app-data-table>
    <!-- DATATATBLE END -->
  </div>
  <!-- CARD BODY END -->
</div>
<!-- CARD END -->
