<!-- DIALOG START -->
<h2 mat-dialog-title class="text-primary">Cambiar fecha de entrega</h2>
<mat-dialog-content>
  <div class="row" *ngIf="loaders.loadingSubmit">
    <div class="col text-center">
      <img src="../../../../assets/img/loading.svg" width="35%" alt="loading" />
      <p>Procesando Información...</p>
    </div>
  </div>
  <form [formGroup]="dateForm" role="form" *ngIf="!loaders.loadingSubmit">
    <div class="form-row">
        <div class="form-row">
            <mat-form-field
              appearance="outline"
              floatLabel="always"
              class="col-md"
            >
              <mat-label>Fecha de entrega:</mat-label>
              <input
                formControlName="fecha"
                type="date"
                id="fecha"
                required
                matInput
              />
              <mat-icon matPrefix>today</mat-icon>
              <mat-error *ngIf="dateForm.get('fecha')?.errors?.required">
                *Este campo es obligatorio
              </mat-error>
              <mat-error
                *ngIf="dateForm.get('fecha')?.errors?.mustAfterDate"
              >
                *Ups! Parece que esa fecha no es válida
              </mat-error>
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              floatLabel="always"
              class="col-md"
            >
              <mat-label>Hora de entrega:</mat-label>
              <input
                formControlName="hora"
                type="time"
                id="hora"
                required
                matInput
              />

              <mat-icon matPrefix>schedule</mat-icon>
              <mat-error *ngIf="dateForm.get('hora')?.errors?.required">
                *Este campo es obligatorio
              </mat-error>
              <mat-error *ngIf="dateForm.get('hora')?.errors?.mustAfterHour">
                *La hora de recogida debe ser 1 hora mayor a la hora actual
              </mat-error>
            </mat-form-field>
          </div>

    </div>
  </form>

  <br />
  
</mat-dialog-content>

<mat-dialog-actions>
  <button
    type="button"
    mat-raised-button
    [disabled]="
      dateForm.invalid || loaders.loadingSubmit 
    "
    (click)="onFormSubmit()"
    color="primary"
  >
    Cambiar
  </button>
  <button type="button" mat-raised-button [mat-dialog-close]="false">
    Cancelar
  </button>
</mat-dialog-actions>
