<!-- INICIO DE CONTENEDOR -->
<div @fade class="mt-5 col-md-4 offset-lg-4 offset-md-3 offset-sm-2">

  <!-- INICIO DE CARD -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Autenticación
      </mat-card-title>
    </mat-card-header>

    <!-- INICIO DE CONTENIDO DEL CARD -->
    <mat-card-content>
      <!-- INICIO FORMULARIO LOGIN -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Usuario:</mat-label>
          <input id="nickName" formControlName="nickName" placeholder="Ingrese su usuario"
                 required matInput maxlength="40">
          <mat-icon matPrefix>account_circle</mat-icon>
          <mat-error>*Este campo es obligatorio</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Contraseña:</mat-label>
          <input id="password" [type]="hide ? 'password' : 'text'" formControlName="password" required
                 placeholder="Ingrese su contraseña" matInput>
          <mat-icon matPrefix>lock</mat-icon>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error>*Este campo es obligatorio</mat-error>
          <mat-hint>
            <a [routerLink]="['/password-recovery']">Olvidé mi contraseña</a>
          </mat-hint>
        </mat-form-field>

        <mat-checkbox formControlName="remember_me">Recordar Usuario</mat-checkbox>

        <div class="form-group text-center">
          <button mat-raised-button [disabled]="loading || loginForm.invalid" color="primary" style="width:100%">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 "></span>
            Ingresar
          </button>
        </div>


      </form>
      <!-- FIN FORMULARIO LOGIN -->

    </mat-card-content>
    <!-- FIN DE CONTENIDO DEL CARD -->

  </mat-card>
  <!-- FIN DE CARD -->

</div>
<!-- FIN DE CONTENEDOR -->


