<!--CARD START -->
<mat-card @fade>
  <mat-card-header>
    <mat-card-title> Parametrización de Recargos </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <!-- CONTAINER START -->

    <div class="row justify-content-end">
      <div class="col">
        <button
          mat-raised-button
          (click)="showNewForm()"
          type="button"
          color="primary"
          class="float-right mb-2"
        >
          <i class="fa fa-plus"></i>
          Agregar Recargo
        </button>
      </div>
    </div>
    <!-- CONTAINER BODY START -->

    <div class="table-responsive">
      <table
        id="dTable"
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="display compact"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Tipo de Envío</th>
            <th>Kilometraje Mínimo</th>
            <th>Kilometraje Máximo</th>
            <th>Monto</th>
            <th data-priority="1">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let surcharge of surcharges; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ surcharge.descRecargo }}</td>
            <td>{{ surcharge?.category?.descCategoria || "N/A" }}</td>
            <td>{{ surcharge?.delivery_type?.descTipoTarifa }}</td>
            <td>{{ surcharge.kilomMinimo }}</td>
            <td>{{ surcharge.kilomMaximo }}</td>
            <td>L. {{ surcharge.monto }}</td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="showEditForm(surcharge)" mat-menu-item>
                  <mat-icon>create</mat-icon>
                  <span>Editar</span>
                </button>

                <button
                  *ngIf="surcharge.idCliente != '1'"
                  (click)="showSurchargeCustomers(surcharge.idRecargo)"
                  mat-menu-item
                >
                  <mat-icon>people</mat-icon>
                  <span>Ver Clientes</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- CONTAINER END -->
  </mat-card-content>
</mat-card>

<!-- CARD END -->
