<!-- MODAL START -->
<h2 mat-dialog-title class="text-info">
  <i class="fa fa-edit"></i> Editar Horario
</h2>
<mat-dialog-content>


  <div class="row" *ngIf="loaders.loadingSubmit">
    <div class="col text-center">
      <img src="../../../../../assets/img/loading.svg" width="35%" alt="loading">
      <p>Procesando información...</p>
    </div>
  </div>

  <form [formGroup]="editSchForm" *ngIf="!loaders.loadingSubmit">
    <div class="form-row">
      <mat-form-field appearance="outline" floatLabel="always" class="col-md">
        <mat-label>Hora Inicial:</mat-label>
        <input formControlName="inicio" type="time" required matInput>
        <mat-error *ngIf="f.inicio?.errors?.required">
          *Este campo es obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="col-md">
        <mat-label>Hora Final:</mat-label>
        <input formControlName="final" type="time" required matInput>
        <mat-error *ngIf="f.inicio?.errors?.required">
          *Este campo es obligatorio
        </mat-error>
      </mat-form-field>
    </div>


  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" mat-raised-button [disabled]="editSchForm.invalid || loaders.loadingSubmit"
          (click)="onEditFormSubmit()" color="primary">Cambiar
  </button>
  <button type="button" mat-raised-button mat-dialog-close>Cancelar</button>

</mat-dialog-actions>

<!-- MODAL END -->
