<!-- MODAL START -->
<h2 mat-dialog-title class="text-info">
  <mat-icon>help</mat-icon> Restricciones
</h2>
<mat-dialog-content>

  <div class="row" >
    <div class="col text-justify">

      <h3>Límites de cobertura para entregas libres de recargos. </h3>
      <p>*Límites son estimados y recargos a ciertas colonias pueden aplicar.</p>
      <h3>TEGUCIGALPA</h3>
      <ul>
        <li>Salida al Norte: Carrizal</li>
        <li>Salida al Sur: Aldea Loarque</li>
        <li>Salida a Olancho: Terminal de Buses Cerro Grande</li>
        <li>Salida a Danlí: Posta Villa Vieja</li>
        <li>Salida a Valle de Ángeles: Col. El Sitio</li>
        <li>Calle a Mateo: Campo Marte</li>
        <li>Calle al Picacho: Casa Xochicalco</li>
        <li>Anillo Periférico: Residencial Arturo Quezada</li>
      </ul>
      <h3>SAN PEDRO SULA</h3>
      <ul>
        <li>Peaje a La Lima</li>
        <li>Peaje a Tegucigalpa</li>
        <li>Peaje a Choloma</li>
      </ul>
    </div>
  </div>


</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" mat-raised-button color="primary" mat-dialog-close>Aceptar
  </button>

</mat-dialog-actions>

<!-- MODAL END -->
