<!-- CONTAINER START -->
<div class="table-responsive">
  <table id="dTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
         class="display compact" style="width:100%">
    <tfoot>
    <tr>
      <th></th>
      <th *ngIf="currUser.idPerfil ==='1'"></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <!--<th></th>-->
      <th>
        <select class="form-control-sm" name="search-last-name">
          <option value="">- Filtrar por Estado -</option>
          <option *ngFor="let state of states" [value]="state.descEstado">{{state.descEstado}}</option>
          <option value="Solicitud de Reservación">Solicitud de Reservación</option>
        </select>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th *ngIf="currUser.idPerfil === '1'"></th>
    </tr>
    </tfoot>
    <thead>
    <tr>
      <th>N° Reserva</th>
      <th>N° Envío</th>
      <th data-priority="1" *ngIf="currUser.idPerfil ==='1'">Cliente</th>
      <th data-priority="1">Destinatario</th>
      <th data-priority="1">Celular del Destinatario</th>
      <th>Dirección</th>
      <th>Detalle</th>
      <th>Distancia</th>
      <th>Recargo</th>
      <!--<th>Cargos Extra</th>-->
      <th>Costo</th>
      <th>Estado</th>
      <th>Observaciones</th>
      <th>Conductor</th>
      <th *ngIf="currUser.idPerfil === '1'" data-priority="1">Acción</th>
      <th data-priority="1">Fotografías</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor=" let i = index;let order of orders;">
      <td>{{order.idDelivery}}</td>
      <td>{{order.idDetalle}}</td>
      <td *ngIf="currUser.idPerfil ==='1'">{{order.delivery.nomCliente}}</td>
      <td>{{order.nomDestinatario}}</td>
      <td>{{order.numCel}}</td>
      <td>{{order.direccion}}</td>
      <td>{{order.nFactura}}</td>
      <td>{{order.distancia}}</td>
      <td>L. {{order.recargo}}</td>
      <td>L. {{order.cargosExtra || '0.00'}}</td>
      <td>L. {{order.cTotal}}</td>
      <td>{{order.estado.descEstado}} <p *ngIf="order.estado.idEstado == 44">Fecha: {{order.fechaEntrega}}</p></td>
      <td>{{order.observaciones || 'N/A'}}</td>
      <td><p *ngIf="order.conductor">{{order.conductor.nomUsuario + ' - ' + order?.conductor?.numCelular}}</p>
        <p *ngIf="!order.conductor">Aún no asignada</p>
      </td>
      <td *ngIf="currUser.idPerfil === '1'">
        <a *ngIf="order.estado.idEstado !== 44" href="javascript:void(0)" (click)="showChangeStateDialog(order)"
           style="color: #0071A2">
          <i class="fa fa-exchange-alt"></i>
          Cambiar Estado
        </a>
        <p *ngIf="order.estado.idEstado === 44">--</p>
      </td>
      <td>
        <button *ngIf="order.photography.length > 0" button type="button" mat-raised-button color="primary"  (click)="openPhotosDialog(order.photography)">
          Ver Fotografías
        </button>
        <span *ngIf="order.photography.length == 0">N/A</span>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<!-- DATATABLE END -->

