<!-- CONTAINER START -->
<div class="table-responsive">
  <table id="dTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
         class="display compact" style="width:100%">
    <tfoot>
    <tr>
      <th></th>
      <th *ngIf="currUser.idPerfil ==='1'"></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <!--<th></th>
      <th></th>
      <th></th>
      <th></th>-->
      <th></th>
      <th>
        <select class="form-control-sm" name="search-last-name">
          <option value="">- Filtrar por Estado -</option>
          <option *ngFor="let state of states" [value]="state.descEstado">{{state.descEstado}}</option>
          <option value="Solicitud de Reservación">Solicitud de Reservación</option>
        </select>
      </th>
      <th></th>
      <!--<th></th>-->
      <th></th>
    </tr>
    </tfoot>
    <thead>
    <tr>
      <th>N° Reserva</th>
      <th>N° Envío</th>
      <th data-priority="1" *ngIf="currUser.idPerfil ==='1'">Cliente</th>
      <th data-priority="1">Destinatario</th>
      <th data-priority="1">Celular del Destinatario</th>
      <th>Dirección</th>
      <!--<th>Detalle</th>
      <th>Distancia</th>
      <th>Recargo</th>
      <th>Cargos Extra</th>-->
      <th data-priority="1">Costo Total</th>
      <th data-priority="1">Estado</th>
      <!--<th>Observaciones</th>
      <th>Conductor</th>-->
      <th>Fotografías</th>
      <th data-priority="1">Acción</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor=" let i = index;let order of orders;">
      <td>{{order.idDelivery}}</td>
      <td>{{order.idDetalle}}</td>
      <td *ngIf="currUser.idPerfil ==='1'">{{order.delivery.nomCliente}}</td>
      <td>{{order.nomDestinatario}}</td>
      <td>{{order.numCel}}</td>
      <td>{{order.direccion}}</td>
      <!--<td>{{order.nFactura}}</td>
      <td>{{order.distancia}}</td>
      <td>L. {{order.recargo}}</td>
      <td>L. {{order.cargosExtra}} {{order?.extra_charge?.nombre || ''}}</td>-->
      <td>L. {{order.cTotal}}</td>
      <td>{{order.estado.descEstado}} <p *ngIf="order.estado.idEstado == 44">Fecha: {{order.fechaEntrega}}</p></td>
      <!--<td>{{order.observaciones || 'N/A'}}</td>
      <td><p *ngIf="order.conductor">{{order.conductor.nomUsuario + ' - ' + order?.conductor?.numCelular}}</p>
        <p *ngIf="!order.conductor">Aún no asignada</p>
      </td>-->
      <td>
        <button mat-raised-button *ngIf="order.photography.length > 0" type="button"
                (click)="openPhotosDialog(order.photography)">
          <mat-icon>photo_camera</mat-icon>
          <span>Ver Fotografías</span>
        </button>

        <p *ngIf="order.photography.length ==0">N/A</p>
      </td>
      <td>
        <button mat-raised-button type="button" (click)="showDetailDialog(order)">
          <mat-icon>visibility</mat-icon>
          Ver Detalles
        </button>
      </td>
      <!--
      <td *ngIf="currUser.idPerfil === '1'">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="order.estado.idEstado !== 44" mat-menu-item
                  (click)="showChangeStateDialog(order)">
            <mat-icon>tune</mat-icon>
            <span>Cambiar Estado</span>
          </button>
          <button *ngIf="order.estado.idEstado == 34" mat-menu-item
                  (click)="showAssignDriverDialog(order)">
            <mat-icon>assignment_ind</mat-icon>
            <span>Asignar Conductor</span>
          </button>
          <button mat-menu-item (click)="showAddExtrachargeDialog(order)" >
            <mat-icon>attach_money</mat-icon>
            <span>Agregar Cargo Extra</span>
          </button>
          <button mat-menu-item *ngIf="order.photography.length > 0"  type="button" (click)="openPhotosDialog(order.photography)">
            <mat-icon>photo_camera</mat-icon>
            <span>Ver Fotografías</span>
          </button>
        </mat-menu>
      </td>-->
    </tr>
    </tbody>
  </table>

</div>

<!-- DATATABLE END -->

