/* You can add global styles to this file, and also import other style files */
.xplore-bg{
  background-color: #0071A2/*#006b9e #00679a*/ !important;
}

mat-form-field {
  width: 100%;
  font-size: 13px !important;
}

mat-sidenav{
  width: 250px !important;
}
mat-card-header{
  border-style: none none solid;
  border-width: 0 0 3px;
  border-color:  #0277bd;
}

mat-card-content{
  margin-top: 20px !important;
}
/* Structure */
table {
  width: 100%;
}

tfoot {
  display: table-header-group;
}

thead{
  display: table-row-group;
}

.xplore-content-bg{
   background-color: #eee !important;
}

body{
  background-color:  #f2f2f2 !important;

}


mat-sidenav{
  width: 250px;
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.app-toolbar-alternative {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari
  top: 0;  Sets the sticky toolbar to be on top
  z-index: 1000;  /*Ensure that your app's content doesn't overlap the toolbar*/

}

#main{
  margin-top: 2rem !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

