<!-- MODAL START -->
<h2 mat-dialog-title class="text-info">
    <mat-icon [inline]="true">note_add</mat-icon>
    Editar Etiqueta
  </h2>
  <mat-dialog-content>
    <div class="row" *ngIf="loaders.loadingSubmit">
      <div class="col text-center">
        <img src="assets/img/loading.svg" width="35%" alt="loading">
        <p>Procesando Información...</p>
      </div>
    </div>
    <form [formGroup]="edtLabelForm" *ngIf="!loaders.loadingSubmit">
      <div class="form-row">
        <mat-form-field appearance="outline" floatLabel="always" class="col">
          <mat-label>Descripción de la etiqueta:</mat-label>
          <input matInput type="text" formControlName="descEtiqueta" required
                 placeholder="Descripción de etiqueta" maxlength="100">
          <mat-icon matSuffix>label</mat-icon>
          <mat-error>*Este campo es obligatorio</mat-error>
        </mat-form-field>
      </div>
  
    </form>
  
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button type="button" [disabled]="edtLabelForm.invalid || loaders.loadingSubmit" (click)="onSubmitForm()"
            mat-raised-button color="primary">
      <i class="fa fa-save"></i> Guardar
    </button>
    <button type="button" mat-raised-button mat-dialog-close>
      <i class="fa fa-times-circle"></i> Cancelar
    </button>
  </mat-dialog-actions>
  <!-- MODAL END -->
  
  
  